<div class="container-fluid bg-light p-2">
    <div class="wrapper bg-white">
        <div class="h2 text-center">
            <img src="./assets/avatar.jpg" class="img-fluid rounded-3" alt="Shopping item" style="width: 150px; height: 140px;">
        </div>
        <div class="h4 text-muted text-center pt-2">Entrer vos information de connexion</div>
        <form class="pt-3"  [formGroup]="userLogin" (ngSubmit)="onSubmitLogin()">
            <div class="form-group py-2">
                <div class="input-field">
                    <mat-icon>person_outline</mat-icon>
                    <input type="email" formControlName="email" id = "emaiLogin" placeholder="Votre email" required class="">
                </div>
                <div *ngIf="userLogin.get('email')?.invalid && userLogin.get('email')?.touched" class="text-danger">
                    Email requis et doit être valide.
                  </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field">
                    <mat-icon>lock_outline</mat-icon> <input type="password" formControlName="password" id ="passwordLogin" placeholder="Votre mot de passe" required class="">
                    <button class="btn bg-white text-muted">
                        <span class="far fa-eye-slash"></span>
                    </button>
                </div>
                <div *ngIf="userLogin.get('password')?.invalid && userLogin.get('password')?.touched" class="text-danger">
                    Mot de passe requis et doit faire au moins 6 caractères.
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="remember" style="font-size: 16px;"> <label class="option text-muted"> Se souvenir de moi <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
                <div class="ml-auto"> <a href="#" id="forgot">Mot de passe oublié ?</a> </div>
            </div>
            <button class="btn btn-block text-center my-3 h4" [disabled]="userLogin.invalid">Connexion</button>
            <div class="text-center pt-3 text-muted" style="font-size: 16px;">
                Je n'ai pas de compte ?
                <a class="btn" data-bs-toggle="modal" data-bs-target="#modalRegisterForm" >
                    Créer un compte
                </a>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <!-- <div class="modal-header font-modal-header py-2">
            <h1 class="modal-title w-100 font-weight-bold">Inscription</h1>
            <button type="button" class="close bg-danger text-white" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <div class="modal-body mx-3">
            <div class="card border border-0">
                <div class="card-header border border-0" style="background-color: white;">
                    <h3 class="mb-1 text-center text-uppercase" style="font-weight: bold;">Formulaire d'inscription</h3>
                </div>
                <div class="card-body p-md-5 text-black">
                    <form class="form-inscription" [formGroup]="userRegister" (ngSubmit)="onSubmitUserRegister()">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <div class="text-danger" *ngIf="userRegister.get('prenom')?.invalid && userRegister.get('prenom')?.touched">Prénom requis.</div>
                            <input type="text" id="prenom" formControlName="prenom"   class="form-control form-control-lg" required="" />
                            <label class="form-label" for="prenom">Votre prénom</label>
                        </div>
                        </div>
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <div class="text-danger" *ngIf="userRegister.get('nom')?.invalid && userRegister.get('nom')?.touched">Nom requis.</div>
                            <input type="text" id="nom" formControlName="nom" class="form-control form-control-lg" required />
                            <label class="form-label" for="nom">Votre nom</label>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <div class="text-danger" *ngIf="userRegister.get('email')?.invalid && userRegister.get('email')?.touched">Email requis et doit être valide.</div>
                            <input type="email" id="email" formControlName="email" class="form-control form-control-lg" required />
                            <label class="form-label" for="email">Email</label>
                        </div>
                        </div>
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <div class="text-danger" *ngIf="userRegister.get('telephone')?.invalid && userRegister.get('telephone')?.touched">
                                Numéro téléphone requis et doit contenir 10 chiffres.
                              </div>
                            <input type="tel" id="telephone" formControlName="telephone" class="form-control form-control-lg" required />
                            <label class="form-label" for="telephone">Téléphone</label>
                        </div>
                        </div>
                    </div>
                    <!-- <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                        <h4 class="mb-0 me-4">Sexe: </h4>

                        <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                            value="option1" />
                        <label class="form-check-label" for="femaleGender">Homme</label>
                        </div>

                        <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                            value="option2" />
                        <label class="form-check-label" for="maleGender">Homme</label>
                        </div>

                    </div> -->
                    <div class="form-outline mb-4">
                        <div class="text-danger" *ngIf="userRegister.get('adresse')?.invalid && userRegister.get('adresse')?.touched">Adresse requise.</div>
                        <input type="text" id="adresse" formControlName="adresse" class="form-control form-control-lg" required/>
                        <label class="form-label" for="adresse">Adresse</label>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-6 mb-4">

                        <select class="select">
                            <option value="1">Région</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                        </select>

                        </div>
                        <div class="col-md-6 mb-4">

                        <select class="select">
                            <option value="1">Département</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                        </select>

                        </div>
                    </div> -->

                    <div class="form-outline mb-4">
                        <div class="text-danger" *ngIf="userRegister.get('password')?.invalid && userRegister.get('password')?.touched">
                            Mot de passe requis (au moins 6 caractères).
                          </div>
                        <input type="password" id="password" formControlName="password" class="form-control form-control-lg" />
                        <label class="form-label" for="password">Choisir un mot de passe</label>
                    </div>

                    <div class="form-outline mb-4">
                        <div class="text-danger"  *ngIf="userRegister.hasError('mismatch') && userRegister.get('confirmPassword')?.touched">
                            Les mots de passe ne correspondent pas.
                        </div>
                        <div class="text-danger" *ngIf="userRegister.get('confirmPassword')?.invalid && userRegister.get('confirmPassword')?.touched">
                            Confirmation requise.
                        </div>
                        <input type="password" id="form3Example90" formControlName="confirmPassword" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Example90">Confirmer le mot de passe</label>
                    </div>



                    <div class="d-flex justify-content-between pt-3 div-btn">
                        <button type="button" class="btn btn-outline-dark">Annuler </button>
                        <button type="button" class="btn btn-dark" [disabled]="userRegister.invalid" (click)="onSubmitUserRegister()">Créer un compte</button>
                    </div>
                </form>
                    </div>
                </div>
        </div>
        </div>
    </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <app-footer-user></app-footer-user> -->
