
<header class="bg-light">
    <div class="container-fluid d-flex flex-wrap justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link text-black" style="font-weight: bold; size: 16px; display: flex;align-items: center; vertical-align: middle;"><mat-icon>email</mat-icon>abadji3992&commat;gmail.com</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-black" style="font-weight: bold; size: 16px; display: flex;align-items: center; vertical-align: middle;"><mat-icon>phone</mat-icon> +221 77 985 29 75</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
      </ul>
  </div>
</header>

<nav class="navbar sticky-top navbar-light bg-light p-0 border border-warning">
    <div class="container-fluid p-0">
      <div class="main-navbar d-lg-flex justify-content-between align-items-center py-2 px-5">
        <!-- navbar menu Start -->
        <div class="d-flex justify-content-start">
            <div class="navbar-menu px-4">
                <div class="navbar-menu-toggle d-lg-block">
                  <button id="toggle-menu" class="menu-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#menuVertical" aria-controls="menuVertical" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggle-icon"></span>
                    <span class="toggle-icon"></span>
                    <span class="toggle-icon"></span>
                  </button>
                </div>

                <ul class="main-menu menu-vertical collapse" id="menuVertical" >
                  <li class="menu-item-has-children" *ngFor="let category of categoryList">
                    <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#menuVertical3-1" aria-controls="menuVertical3-1" aria-expanded="false" aria-label="Toggle navigation" class="dropdown-item " (click)="navigateToPRoducts(category)" routerLinkActive="router-link-active"> {{category}}<mat-icon>chevron_right</mat-icon></a>

                </ul>
            </div>
            <!-- logo start -->
            <div class="col-lg-2">
              <div class="logo text-center text-lg-start">
                <a href="#"> <img src="./assets/CMP.png" alt="" width="120" height="100"> </a>
              </div>
            </div>
            <!-- logo ends -->
            <!-- navbar menu Ends -->
      </div>
        <!-- navbar search start -->
        <div class="navbar-search-cart d-none d-lg-flex">
          <!-- navbar search start -->
          <div class="navbar-search search-style-5">
            <div class="search-select">

            </div>
            <div class="search-input">
              <input type="text" placeholder="Chercher....">
            </div>
            <div class="search-btn">
              <button ><mat-icon aria-hidden="false" aria-label="Example search  icon" fontIcon="search"></mat-icon></button>
            </div>
          </div>
          <div class="menu-top-right">
            <ul class="menu-top-link">
              <li class="dropdown">
                <!-- Example single danger button -->
                <div class="btn-group px-2">
                  <button type="button" class="btn colorButton shadow-none dropdown-toggle" id="idMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <mat-icon aria-hidden="false" aria-label="Account icon">person_outline</mat-icon>
                    Connexion
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="idMenu">
                    <li><a class="dropdown-item" routerLink="/user-login">Se connecter</a></li>
                    <li><a class="dropdown-item" routerLink="/user-account">Mon compte</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown">
                <!-- Example single danger button -->
                <div class="btn-group px-2">
                  <button type="button" class="btn colorButton shadow-none dropdown-toggle" id="idMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <mat-icon aria-hidden="false" aria-label="Account icon">help_outline</mat-icon>
                    Aide
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="idMenu">
                    <li><a class="dropdown-item" routerLink="/user-login">Passer une commande</a></li>
                    <li><a class="dropdown-item" routerLink="/compte-client">Payer une commande</a></li>
                    <li><a class="dropdown-item" routerLink="/compte-client">Annuler commandes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Autres</a></li>
                  </ul>
                </div>
              </li>
              <!-- <li>
                <a ><mat-icon aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>Login</a>
              </li> -->
            </ul>
          </div>
          <!-- navbar search Ends -->
          <!-- navbar cart start -->
          <div class="navbar-cart">
            <a class="icon-btn primary-icon-text icon-text-btn">
              <!-- <img src="./assets/cart-1.svg" alt="Icon"> -->
              <mat-icon class="icon-display" aria-hidden="false"[ngStyle]="{ 'color': 'orange' }">shopping_cart</mat-icon>
              <span *ngIf="(cartSize$ | async) !== 0" class="badge icon-text text-style-1">{{cartSize$ | async}}</span>
              <span class="text-panier"> Panier</span>
            </a>

            <div class="navbar-cart-dropdown">
              <div class="checkout-style-2">
                <div class="checkout-header d-flex justify-content-between">
                  <h6 class="title">Panier</h6>
                </div>

                <div class="checkout-table">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let selectedProd of dataArray$ | async">
                        <td class="checkout-product">
                          <div class="product-cart d-flex">
                            <div class="product-thumb">
                              <img src="{{selectedProd.imageUrl}}" alt="Product">
                            </div>
                            <div class="product-content media-body">
                              <h5 class="title">
                                <a href="#">{{selectedProd.nomComplet}}</a>
                              </h5>
                              <ul>
                                <li><span>{{selectedProd.nomCourt}}</span></li>
                                <li><span>SKU</span></li>
                                <li>
                                  <!-- <a class="delete" href="#"> -->
                                    <!-- <a class="icon-btn btn-primary del" (click)="onDeleteInListePanier(selectedProd)" id="del">
                                      <mat-icon [ngStyle]="{ 'color': 'red' }">delete</mat-icon>
                                    </a> -->
                                  <!-- </a> -->
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                        <td class="checkout-quantity">
                          <div class="product-quantity d-inline-flex">
                            <button (click)="onReduitOcc(selectedProd)" type="button" id="sub" class="sub">
                              <mat-icon [ngStyle]="{ 'color': 'orange' }">remove_circle</mat-icon>
                            </button>
                            <input type="text" value="{{selectedProd.quantite}}">
                            <button (click)="onAjoutOcc(selectedProd)" type="button" id="add" class="add">
                              <mat-icon [ngStyle]="{ 'color': 'orange' }">add_circle </mat-icon>
                            </button>
                          </div>
                        </td>
                        <td class="checkout-price">
                          <p class="price px-3">{{selectedProd.prix}} F CFA</p>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                <div class="checkout-footer">
                  <div class="
                      checkout-sub-total
                      d-flex
                      justify-content-between
                    ">
                    <!-- <p class="value">Subotal Price:</p>
                    <p class="price">$144</p> -->
                  </div>
                  <div class="checkout-btn align-content-center">
                    <!-- <button class="main-btn primary-btn-border">View Cart</button> -->
                    <button (click)="navigateTopanier()" class="main-btn primary-btn">Commander</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- navbar cart Ends -->
        </div>
      </div>
    </div>
  </nav>
  <!-- <app-web-produits (selectedProduct)="addProductToCart($event)"></app-web-produits> -->
<router-outlet></router-outlet>
