<div class="container-fluid mt-4">
  <div class="row">
    <!-- Liste des magasins -->
    <div class="col-md-2">
      <h4>Magasins</h4>
      <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalMagasin">
        <i class="bi bi-plus-circle"></i> Nouveau
      </button>
      <ul class="list-group">
        <li *ngFor="let magasin of magasins" class="list-group-item d-flex justify-content-between align-items-center">
          <span class="me-1">{{ magasin.id }}</span>
          <div>
            <button class="btn btn-sm btn-primary me-1 w-auto" (click)="afficherDetailsMagasin(magasin)"><i class="bi bi-eye"></i></button>
            <button class="btn btn-sm btn-warning me-1 w-auto" (click)="preparerEditionMagasin(magasin)" data-bs-toggle="modal" data-bs-target="#modalMagasin"><i class="bi bi-pencil"></i></button>
            <button class="btn btn-sm btn-danger w-auto" (click)="supprimerMagasin(magasin.id)"><i class="bi bi-trash"></i></button>
          </div>
        </li>
      </ul>
    </div>

    <!-- Détails du magasin sélectionné -->
    <div class="col-md-10" *ngIf="magasinSelectionne">
      <div class="alert alert-light d-flex justify-content-between align-items-center">
        <span>Nom:<b>{{ magasinSelectionne.nom }}</b> </span>
        <span>Localisation:<b>{{ magasinSelectionne.adresse }}</b> </span>
        <span>Responsable: <b>{{ magasinSelectionne.responsableId }}</b> </span>
         <span>Magasin:<b>{{ magasinSelectionne.statut }}</b> </span>
        <!--<span>Magasin:<b></b> </span> -->
      </div>


      <!-- Onglets de navigation -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-produits-tab" data-bs-toggle="tab" href="#nav-produits" role="tab">Produits</a>
          <a class="nav-link" id="nav-caisse-tab" data-bs-toggle="tab" href="#nav-caisse" role="tab">Caisse</a>
          <a class="nav-link" id="nav-decaissements-tab" data-bs-toggle="tab" href="#nav-decaissements" role="tab">Dépenses</a>
          <a class="nav-link" id="nav-dettes-tab" data-bs-toggle="tab" href="#nav-dettes" role="tab">Liste des transferts de produits</a>
        </div>
      </nav>

      <div class="tab-content mt-4" id="nav-tabContent">
        <!-- Produits -->
        <div class="tab-pane fade show active" id="nav-produits" role="tabpanel">
          <h5>Produits</h5>
          <button class="btn btn-success mb-3">+ Ajouter un produit</button>
          <!-- Tableau des produits -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produit of getProduitsParMagasin(magasinSelectionne) ">
                <td>{{ produit.id }}</td>
                <td>{{ produit.designation }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prixVenteUnitaire }} F CFA</td>
                <td>{{ produit.famille }}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Modifier</button>
                  <button class="btn btn-danger btn-sm">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Onglet Caisse -->
        <div class="tab-pane fade" id="nav-caisse" role="tabpanel">
          <h5>Gestion de la caisse</h5>
          <button class="btn btn-success mb-3">+ Ajouter un panier</button>
          <!-- Tableau des paniers -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id Panier</th>
                <th>Client</th>
                <th>Montant Total</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let panier of getPaniersParMagasin(magasinSelectionne)">
                <td>{{ panier.id }}</td>
                <td>{{ panier.clientId }}</td>
                <td>{{ panier.totalTTC }} F CFA</td>
                <td>{{ panier.dateCreation | date:'dd/mm/yyyy à HH:mm' }}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Voir</button>
                  <button class="btn btn-danger btn-sm">Annuler</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Liste des transferts de produits -->
        <div class="tab-pane fade" id="nav-dettes" role="tabpanel">
          <h5>Liste des transferts de produits</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id Transfert</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Magasin d'origine</th>
                <th>Magasin de destination</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transfert of getTransfertsParMagasin(magasinSelectionne)">
                <td>{{ transfert.id }}</td>
                <td>{{ transfert.reference }}</td>
                <td>{{ transfert.quantite }}</td>
                <td>{{ transfert.magasinSource }}</td>
                <td>{{ transfert.magasinDestination }}</td>
                <td>{{ transfert.dateTransfert | date : 'dd/mm/yyyy à HH:mm' }}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Voir</button>
                  <button class="btn btn-danger btn-sm">Annuler</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Onglet Dépenses -->
        <div class="tab-pane fade" id="nav-decaissements" role="tabpanel">
          <h5>Décaissements</h5>
          <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalDepense">
            + Ajouter une dépense
          </button>

          <!-- Tableau des dépenses -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let depense of getDepensesParMagasin(magasinSelectionne)">
                <td>{{ depense.id }}</td>
                <td>{{ depense.type }}</td>
                <td>{{ depense.amount }} F CFA</td>
                <td>{{ depense.date | date:'dd/MM/yyyy à HH:mm' }}</td>
                <td>{{ depense.description }}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Voir</button>
                  <button class="btn btn-danger btn-sm" (click)="supprimerDepense(depense.id)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal d'ajout/modification de magasin -->
<div class="modal fade" id="modalMagasin" tabindex="-1" aria-labelledby="modalMagasinLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMagasinLabel">{{ modeEdition ? 'Modifier' : 'Ajouter' }} un magasin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="magasinForm" (ngSubmit)="modeEdition ? modifierMagasin() : ajouterMagasin()">
          <div class="mb-3">
            <label for="nomMagasin" class="form-label">Nom du magasin</label>
            <input type="text" class="form-control" id="nomMagasin" formControlName="nom" required>
          </div>

          <div class="mb-3">
            <label for="adresse" class="form-label">Localisation</label>
            <input type="text" class="form-control" id="adresse" formControlName="adresse" required>
          </div>

          <div class="mb-3">
            <label for="responsableId" class="form-label">Responsable</label>
            <input type="number" class="form-control" id="responsableId" formControlName="responsableId" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" [disabled]="magasinForm.invalid">
              {{ modeEdition ? 'Modifier' : 'Ajouter' }}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
