<header class="header d-flex justify-content-between align-items-center">
  <!-- <button class="menu-toggle" (click)="toggleSidebarMenu()">
          <i class="bi bi-list"></i>
  </button> -->
  <div class="header-title">
    <small class="text-muted">{{ titre }}/</small>
    <span class="h4 ms-5 text-uppercase">{{ sousTitre }}</span>
  </div>
  <div class="btn-group">
    <div class="mt-0 py-3">
      <i class="bi bi-bell position-relative icon-notification">
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">3</span>
      </i>
    </div>
    <button class="btn dropdown-toggle d-flex align-items-center" id="idMenu" data-bs-toggle="dropdown">

        <!-- Cas image -->
        <ng-container *ngIf="photoProfilUrl; else defaultAvatar">
          <img
            [src]="photoProfilUrl"
            class="avatar img-fluid rounded-circle me-1"
            alt="Photo profil"
            width="30"
            height="30"
          />
        </ng-container>

        <!-- Cas lettre -->
        <ng-template #defaultAvatar>
          <div class="avatar-letter me-1">
            {{ userName.charAt(0).toUpperCase() }}
          </div>
        </ng-template>

        <span class="text-dark ms-1">{{ userName }}</span>
      </button>

    <ul class="dropdown-menu">
      <!-- <li>
        <button class="dropdown-item" routerLink="/user-login">
          <i class="bi bi-person"></i> Profil
        </button>
      </li> -->
      <!-- <li>
        <button class="dropdown-item" routerLink="/user-account">
          <i class="bi bi-gear"></i> Paramètres
        </button>
      </li> -->
      <li><hr class="dropdown-divider" /></li>
      <li><button class="dropdown-item" (click)="onLogout()">Déconnexion</button></li>
    </ul>
  </div>
</header>
