.indicateurs .card-body i {
  color: #007bff;
}

.indicateurs.card-body {
  padding: 1.5rem;
}

.indicateurs .card-header {
  font-weight: bold;
}

.indicateurs .card-footer {
  font-size: 0.8rem;
  color: #999;
}
