<div class="container-fluid">
  <div
    *ngIf="filteredProduits.length > 0"
    class="d-flex justify-content-end align-items-center no-printer"
  >
    <div *ngIf="isGeneratingPDF" class="spinner-container me-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Génération en cours...</span>
      </div>
      <p>Génération du PDF en cours... {{ progress }}%</p>
    </div>
    <button class="btn btn-outline-dark me-2" (click)="impression()">
      <i class="bi bi-printer"></i> Imprimer
    </button>
    <button class="btn btn-outline-dark me-2" (click)="exportToPDF()">
      <i class="bi bi-file-earmark-pdf"></i> Exporter PDF
    </button>
    <button class="btn btn-outline-dark" (click)="exportToExcel()">
      <i class="bi bi-file-earmark-excel"></i> Exporter Excel
    </button>
  </div>

  <hr class="border border-primary no-printer" />

  <!-- Filtres -->
  <div class="card p-3 mb-4 shadow-sm no-printer">
    <h5 class="fw-bold"><i class="bi bi-funnel"></i> Filtres</h5>
    <div class="row g-3 align-items-center">
      <div class="col-md-4">
        <label for="dateDebut" class="form-label fw-bold">Date de début :</label>
        <input
          type="date"
          id="dateDebut"
          class="form-control"
          [(ngModel)]="dateDebut"
          (change)="filtrerDates()"
        />
      </div>

      <div class="col-md-4">
        <label for="dateFin" class="form-label fw-bold">Date de fin :</label>
        <input
          type="date"
          id="dateFin"
          class="form-control"
          [(ngModel)]="dateFin"
          (change)="filtrerDates()"
        />
      </div>

      <div class="col-md-4" *ngIf="isAdmin">
        <label for="succursales" class="fw-bold">Succursale :</label>
        <select class="form-control" name="succursales" (change)="onMagasinSelect($event)">
          <option value="-1">Toutes les succursales</option>
          <option *ngFor="let magasin of magasins" [value]="magasin.id">{{ magasin.nom }}</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="filteredProduits.length === 0" class="d-flex justify-content-center no-printer">
    <h1 class="text-muted">
      Aucune donnée correspondant à la période actuelle. Veuillez choisir une autre période
    </h1>
  </div>
  <div *ngIf="filteredProduits.length > 0" class="rapport" id="rapport">
    <div class="container mt-4 p-4 border">
      <!-- En-tête du rapport -->
      <div *ngIf="isPrinting" class="d-flex justify-content-between align-items-center mb-4">
        <!-- Logo de l'entreprise -->
        <div>
          <img src="./assets/CMP.png" alt="Logo Entreprise" style="height: 80px" />
        </div>
        <!-- Informations de l'entreprise -->
        <div class="text-end">
          <!-- <h4 class="fw-bold">Rapport de Stock</h4> -->
          <p><strong>Entreprise :</strong> Nom de l'Entreprise</p>
          <p><strong>Adresse :</strong> Dakar, Sénégal</p>
          <p><strong>Téléphone :</strong> +221 77 123 45 67</p>
          <p>
            <strong>Succursale :</strong>
            {{
              selectedMagasinId !== -1
                ? getNomMagasinsById(selectedMagasinId)
                : 'Toutes les succursales'
            }}
          </p>
          <p><strong>Responsable : </strong> {{ 'Responsable' }}</p>
          <p><strong>Date :</strong> {{ dateGeneration | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <!-- Contenu du rapport -->
      <div class="border-top pt-3">
        <!-- Vue d'Ensemble -->
        <div class="d-flex justify-content-center my-5">
          <h1 class="fw-bold">
            <!-- <i class="bi bi-bar-chart-line"></i>  -->
            Rapport des Stocks pour la période allant du {{ dateDebut | date: 'dd/MM/yyyy' }} au
            {{ dateFin | date: 'dd/MM/yyyy' }}
          </h1>
        </div>
        <div class="bg-light d-flex justify-content-center align-items-center p-2">
          <h3 class="fw-bold">Résumé du rapport des stocks</h3>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-info shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-list-check fs-2 text-info me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Total Produits</h5>
                  <p class="fs-5 fw-bold mb-0">{{ totalProduits }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-success shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-cash-stack fs-2 text-success me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Valeur achat du Stock intial</h5>
                  <p class="fs-5 fw-bold mb-0">
                    {{ valeurTotaleStockAchatInitial | number }} F CFA
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-primary shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-graph-up-arrow fs-2 text-primary me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Valeur achat du Stock final</h5>
                  <p class="fs-5 fw-bold mb-0">
                    {{ valeurTotaleVenteStockAchatFinal | number }} F CFA
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-secondary shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-tags fs-2 text-secondary me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits Uniques</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsUniques }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-danger shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-exclamation-circle fs-2 text-danger me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits en Rupture</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsRupture }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-warning shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-exclamation-triangle fs-2 text-warning me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits sous Alerte</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsEnAlerte }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-warning shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-arrow-down-circle fs-2 text-warning me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits à Réapprovisionner</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsAReapprovisionne }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-dark shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-box-arrow-up fs-2 text-dark me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits en Surstock</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsEnSurStock }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mt-3">
            <div class="card border-primary shadow-sm">
              <div class="card-body d-flex align-items-center">
                <i class="bi bi-calendar-x fs-2 text-primary me-3"></i>
                <div>
                  <h5 class="text-muted fw-bold mb-1">Produits Périssables</h5>
                  <p class="fs-5 fw-bold mb-0">{{ produitsPerissable }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-light d-flex justify-content-center align-items-center p-2">
          <h3 class="fw-bold">Liste des produits en stock pour la période sélectionnée</h3>
        </div>
        <!-- Barre de recherche et sélection du nombre de lignes -->
        <div class="d-flex justify-content-between my-3 no-printer">
          <input
            type="text"
            class="form-control w-50"
            placeholder="Filtrer par catégorie et statut..."
            [(ngModel)]="searchTerm"
            (input)="onSearchChange('stock')"
          />
          <select class="form-select w-auto" (change)="setItemsPerPage($event)">
            <option [value]="5">5 lignes</option>
            <option [value]="10">10 lignes</option>
            <option [value]="20">20 lignes</option>
            <option [value]="40">40 lignes</option>
            <option [value]="80">80 lignes</option>
            <option [value]="120">120 lignes</option>
            <option [value]="160">160 lignes</option>
            <option [value]="200">200 lignes</option>
            <option
              *ngIf="filteredProduits.length > 0 || filteredMouvements.length > 0"
              [value]="maxItems"
            >
              {{ maxItems }} (Tous)
            </option>
          </select>
        </div>
        <!-- Liste des Produits -->
        <table class="table table-bordered table-striped shadow-sm">
          <thead class="table-dark text-white">
            <tr>
              <!-- <th>ID produit</th> -->
              <th>Produit</th>
              <th>Catégorie</th>
              <th>Unité stock</th>
              <th>Prix d'Achat</th>
              <!-- <th>Prixe de vente</th> -->
              <th>Stock intial</th>
              <th>Entrées</th>
              <th>Sorties</th>
              <th>Stock final</th>
              <th>Taux de rotation</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of getPaginatedProduits">
              <!-- <td>{{ produit.id }}</td> -->
              <td>{{ produit.designation }}</td>
              <td>{{ produit.famille }}</td>
              <td>{{ produit.unite }}</td>
              <td>{{ getDernierPrixAchatById(produit.id) }} F CFA</td>
              <!-- <td>{{ getDernierPrixVenteById(produit.id)}} F CFA</td> -->
              <td>
                Qte:{{ getStatProduit(produit).stockInitial }} <br />
                Valeur achat: {{ getStatProduit(produit).valeurStockInitial | number: '1.2-2' }}
              </td>
              <td>{{ getStatProduit(produit).entrees }}</td>
              <td>{{ getStatProduit(produit).sorties }}</td>
              <td>
                Qte:{{ getStatProduit(produit).stockFinal }}<br />
                Valeur achat: {{ getStatProduit(produit).valeurStockFinal | number: '1.2-2' }}
              </td>
              <td>{{ getStatProduit(produit).tauxRotation | number: '1.2-2' }}</td>
              <td class="fw-bold">
                <span
                  class="badge bg-success"
                  *ngIf="getStatutProduitById(produit.id) === 'En stock'"
                  >En stock</span
                >
                <span
                  class="badge bg-danger"
                  *ngIf="getStatutProduitById(produit.id) === 'En rupture'"
                  >En rupture</span
                >
                <span
                  class="badge bg-warning"
                  *ngIf="getStatutProduitById(produit.id) === 'En alerte'"
                  >En alerte</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-center align-items-center no-printer">
        <button
          class="btn btn-success"
          (click)="onPageChange(currentPage - 1, 'stock')"
          [disabled]="currentPage === 1"
        >
          <i class="bi bi-arrow-left-circle"></i>
        </button>
        <span class="h3">{{ currentPage }} / {{ getTotalPages(filteredProduits) }}</span>
        <button
          class="btn btn-success"
          (click)="onPageChange(currentPage + 1, 'stock')"
          [disabled]="currentPage >= getTotalPages(filteredProduits)"
        >
          <i class="bi bi-arrow-right-circle"></i>
        </button>
      </div>
      <!-- Listes des mouvements pour la période sélectionnée -->
      <div class="bg-light d-flex justify-content-center align-items-center p-2">
        <h3 class="fw-bold">Liste des mouvements pour la période sélectionnée</h3>
      </div>
      <!-- Barre de recherche et sélection du nombre de lignes -->
      <div class="d-flex justify-content-between my-3 no-printer">
        <input
          type="text"
          class="form-control w-50"
          placeholder="Filtrer par type de mouvement et nom produit..."
          [(ngModel)]="searchTerm"
          (input)="onSearchChange('mouvement')"
        />
        <!-- <select class="form-select w-auto" (change)="setItemsPerPage($event)">
                  <option [value]="5">5 lignes</option>
                  <option [value]="10">10 lignes</option>
                  <option [value]="20">20 lignes</option>
                  <option [value]="40">40 lignes</option>
                  <option [value]="80">80 lignes</option>
                  <option [value]="120">120 lignes</option>
                  <option [value]="160">160 lignes</option>
                  <option [value]="200">200 lignes</option>
              </select> -->
      </div>
      <table class="table table-bordered table-striped shadow-sm">
        <thead class="table-dark text-white">
          <tr>
            <th>Reférence</th>
            <th>Produit</th>
            <th>Magasin</th>
            <th>Type mouvement</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
            <th>Date mouvement</th>
            <th>Description</th>
            <th>Responsable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mvt of getPaginatedMvt">
            <td>{{ mvt.ref }}</td>
            <td>{{ getNomProduitById(mvt.produitId) }}</td>
            <td>{{ getNomMagasinsById(mvt.magasinId) }}</td>
            <td>{{ mvt.typeMouvement }}</td>
            <td>Qte:{{ mvt.quantite }}</td>
            <td>{{ mvt.prixUnitaire }}</td>
            <td>{{ mvt.prixTotal | number: '1.2-2' }}</td>
            <td>{{ mvt.dateMouvement | date: 'dd/MM/yyyy' }}</td>
            <td>{{ mvt.description }}</td>
            <td>{{ mvt.acteurId }}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="d-flex justify-content-center align-items-center no-printer">
        <button
          class="btn btn-success"
          (click)="onPageChange(currentPageMvt - 1, 'mouvement')"
          [disabled]="currentPageMvt === 1"
        >
          <i class="bi bi-arrow-left-circle"></i>
        </button>
        <span class="h3">{{ currentPageMvt }} / {{ getTotalPages(filteredMouvements) }}</span>
        <button
          class="btn btn-success"
          (click)="onPageChange(currentPageMvt + 1, 'mouvement')"
          [disabled]="currentPageMvt >= getTotalPages(filteredMouvements)"
        >
          <i class="bi bi-arrow-right-circle"></i>
        </button>
      </div>
      <!-- Graphiques et analyses-->
      <div class="bg-light d-flex justify-content-center align-items-center p-2">
        <h3 class="fw-bold">
          Evolution des stock, repartition par catégorie et les produits les plus vendus
        </h3>
      </div>
      <div class="chart-container">
        <div class="chart-row">
          <div class="chart-wrapper">
            <h3>Évolution du stock dans le temps</h3>
            <canvas #evolutionChart></canvas>
          </div>
          <div class="chart-wrapper">
            <h3>Répartition par catégorie</h3>
            <canvas #repartitionChart></canvas>
          </div>
        </div>
        <div class="chart-row">
          <div class="chart-wrapper full-width">
            <h3>Produits les plus vendus</h3>
            <canvas #topProduitsChart></canvas>
          </div>
        </div>
      </div>

      <!-- Graphiques et analyses -->
      <div class="bg-light d-flex justify-content-center align-items-center p-2">
        <h3 class="fw-bold">Observations et commentaires</h3>
      </div>
      <div class="mt-4">
        <ul *ngIf="stocks && stocks.length > 0">
          <!-- Produits en rupture de stock -->
          <li *ngIf="getListeProduitsEnRupture.length > 0">
            Les produits suivants sont en rupture de stock :
            <b
              ><span *ngFor="let stock of getListeProduitsEnRupture">
                {{ getNomProduitById(stock.produitId) }},
              </span></b
            >
            pensez à les recommander rapidement.
          </li>

          <!-- Produits nécessitant un réapprovisionnement -->
          <li *ngIf="getListeProduitsAReapprovisionner.length > 0">
            Les produits suivants ont un stock faible et doivent être réapprovisionnés :
            <b
              ><span *ngFor="let stock of getListeProduitsAReapprovisionner">
                {{ getNomProduitById(stock.produitId) }},
              </span></b
            >
          </li>

          <!-- Produits en surstock -->
          <li *ngIf="getListeProduitsEnSurstockr.length > 0">
            Les produits suivants sont en surstock, envisagez de réduire les commandes :
            <b
              ><span *ngFor="let stock of getListeProduitsEnSurstockr">
                {{ getNomProduitById(stock.produitId) }},
              </span></b
            >
          </li>

          <!-- Produits à rotation lente (faible vente) -->
          <li *ngIf="getListeProduitsRotationLente.length > 0">
            Les produits suivants ont une faible rotation et risquent d’être en surplus :
            <b
              ><span *ngFor="let stock of getListeProduitsRotationLente">
                {{ getNomProduitById(stock.produitId) }},
              </span></b
            >
            Envisagez des promotions ou une optimisation des ventes.
          </li>

          <!-- Produits périssables bientôt expirés -->
          <li *ngIf="getListeProduitsProchesPeremption.length > 0">
            Attention, les produits suivants approchent leur date d’expiration :
            <b
              ><span *ngFor="let stock of getListeProduitsProchesPeremption">
                {{ getNomProduitById(stock.produitId) }} (Exp:
                {{ stock.datePeremption | date: 'dd/MM/yyyy' }}),
              </span></b
            >
            Pensez à écouler le stock rapidement.
          </li>

          Produits les plus vendus
          <li *ngIf="getListeProduitsPlusVendus.length > 0">
            Les produits suivants sont les plus vendus et ont une forte demande :
            <b
              ><span *ngFor="let stock of getListeProduitsPlusVendus"> {{ stock }}, </span></b
            >
            Assurez-vous d'un réapprovisionnement régulier.
          </li>

          <!-- Produits récemment ajoutés -->
          <li *ngIf="getListeProduitsRecemmentAjoutes.length > 0">
            Les nouveaux produits suivants ont été récemment ajoutés :
            <b
              ><span *ngFor="let stock of getListeProduitsRecemmentAjoutes">
                {{ getNomProduitById(stock.produitId) }} (ajouté le
                {{ stock.dateDerniereMiseAJour | date: 'dd/MM/yyyy' }}),
              </span></b
            >
            Surveillez leur performance sur le marché.
          </li>
        </ul>
      </div>
    </div>

    <!-- Pied de page -->
    <div class="mt-4 text-end">
      <p><strong>Préparé par :</strong> Nom de l'Auteur</p>
      <p>_________________________</p>
      <p>Signature</p>
    </div>
  </div>

  <!-- Exportation -->
  <!-- <button class="btn btn-danger mt-3" (click)="exportToPDF()">Exporter en PDF</button>
    <button class="btn btn-success mt-3" (click)="exportToExcel()">Exporter en Excel</button>

    <table class="table table-bordered table-striped shadow-sm">
      <thead class="table-dark text-white">
        <tr>
          <th>id</th>
          <th>Produit</th>
          <th>Magasin</th>
          <th>Qte total</th>
          <th>Qte disponible</th>
          <th>Qte réservée</th>
          <th>Date mise à jour</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mvt of allStocks">
          <td>{{ mvt.produitId }}</td>
          <td>{{ getNomProduitById(mvt.produitId) }}</td>
          <td>{{ getNomMagasinsById(mvt.magasinId)}}</td>
          <td>{{ mvt.quantiteTotale}}</td>
          <td>Qte:{{  mvt.quantiteDisponible }}</td>
          <td>{{  mvt.quantiteReservee }}</td>
          <td>{{ mvt.dateDerniereMiseAJour | date :'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
 -->
</div>
