<div class="container-fluid mt-4">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-mouvements-tab" data-bs-toggle="tab" href="#nav-mouvements" 
         role="tab" aria-controls="nav-mouvements" aria-selected="true">
        Mouvements stock
      </a>
      <a class="nav-link" id="nav-reconciliation-tab" data-bs-toggle="tab" href="#nav-reconciliation" 
         role="tab" aria-controls="nav-reconciliation" aria-selected="false">
        Réconciliation
      </a>
      <a class="nav-link" id="nav-analyse-tab" data-bs-toggle="tab" href="#nav-analyse" 
         role="tab" aria-controls="nav-analyse" aria-selected="false">
        Analyse des écarts
      </a>
    </div>
  </nav>

  <div class="tab-content mt-4" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-mouvements" role="tabpanel" 
         aria-labelledby="nav-mouvements-tab">
      <app-mouvement 
        [codeStructure]="code_structure"
        [magasinId]="magasinId"
        [isAdmin]="isAdmin"
        [agentId]="agentId">
      </app-mouvement>
    </div>

    <div class="tab-pane fade" id="nav-reconciliation" role="tabpanel" 
         aria-labelledby="nav-reconciliation-tab">
      <app-reconciliation
        [codeStructure]="code_structure"
        [magasinId]="magasinId"
        [isAdmin]="isAdmin"
        [agentId]="agentId">
      </app-reconciliation>
    </div>

    <div class="tab-pane fade" id="nav-analyse" role="tabpanel" 
         aria-labelledby="nav-analyse-tab">
      <app-analyse-ecarts
        [codeStructure]="code_structure">
      </app-analyse-ecarts>
    </div>
  </div>
</div>