<div class="row div-container">
    <div [ngClass]="isSidePanelVisible ? 'col-9' : 'col-12'" >
        <div class="card p-0">
            <div class="card-header m-0">
                <div class="row">
                    <div class="d-flex justify-content-between fw-bold">
                    <p class="h3">Formulaire d'enregistrement de produits</p>
                        <button class="btn btn-sm text-black fw-bold text-decoration-underline d-inline-flex align-items-center rounded-2">
                            Voir les produits<mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-sm btn-success" *ngIf="!isSidePanelVisible" (click)="openSidePanel()">Nouvelle Catégorie</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 px-5">
                        <div class="row d-flex justify-content-center h2">Informations Générales</div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Nom complet du produit</label>
                                <input type="text" [(ngModel)]="productObj.nomComplet" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="">Nom court</label>
                                <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Nom de la marque ou du fabricant</label>
                                <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="">Prix</label>
                                <input type="text" [(ngModel)]="productObj.prix" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Catégorie</label>
                                <select [(ngModel)]="productObj.categorie" class="form-select">
                                    <option *ngFor="let cate of categoryList" [value]="cate.categoryId"> {{cate.categoryName}}</option>
                                </select> 
                            </div>
                            <div class="col-6">
                                <label for="">Disponibilité</label>
                                <select [(ngModel)]="productObj.categorie" class="form-select">
                                    <option *ngFor="let cate of categoryList" [value]="cate.categoryId"> {{cate.categoryName}}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="">Description du produit</label>
                                <textarea rows="4" class="form-control" [(ngModel)]="productObj.description"  ></textarea>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Image du produit</label>
                                <!-- <input type="text" [(ngModel)]="productObj.imageUrl" class="form-control"> -->
                                <input type="file" class="file-input"(change)="onFileSelected($event)" #fileUpload>
        
                                <div class="file-upload">
                                    <button mat-mini-fab color="primary" class="btn-class d-inline-flex align-items-center p-1 rounded-2"(click)="fileUpload.click()">
                                        Choisir une image<mat-icon>attach_file</mat-icon>
                                    </button>
                                    {{fileName || "Aucune image sélection"}}
                                </div>
                                <div class="my-1">
                                    <!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
                                    <button mat-mini-fab color="primary" class="btn-class d-inline-flex align-items-center p-1 rounded-2"(click)="openPanelVideo()">
                                        Prendre une photo<mat-icon>add_a_photo</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="card-img-top" style="height: 250px; width: 200px;" [src]="localUrl" *ngIf="localUrl" alt="Card image">
                            </div> 
                        </div>
                        <div id="app" class="row" *ngIf="capturingPicture">
                            <div class="col-12">
                                <video #video id="video" width="600px" height="500px"> </video>
                                <div>
                                    <button id="snap" style="width: 50%;" class="btn btn-light rounded-1 my-1" (click)="capture()">Prendre photo</button>
                                    <button type="button" style="width: 50%;" class="btn btn-light rounded-1 my-1" (click)="onStop()">Fermer la caméra</button>
                                </div>
                                <canvas #canvas id="canvas" width="640" height="480"></canvas>
                                <ul>
                                    <li *ngFor="let c of captures">
                                        <img src="{{ c }}" height="50px" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 px-5">
                        <div class="row d-flex justify-content-center h2">Informations spécifiques</div>
                        <hr>
                        <div class="row">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header rounded-1">Caractéristiques principales</div>
                                            <div class="card-body px-5">
                                                <div>
                                                    <small class="text-muted mt-0">
                                                        Exemple:matériaux de fabrication, compatibilité(avec les autres produits) fonctionnalités principales (comment il peut être utilisé),
                                                        performance(vitesse, RAM, ROM, puissance, durabilité, etc.), instructions d'entretien (manière d'entretenir et de prendre soin du produit),etc.
                                                    </small>
                                                    <div class="mb-2 d-flex justify-content-center align-items-center">
                                                        <input type="text" [(ngModel)]="productObj.prix" class="form-control" placeholder="Caractéristques: Valeur"><a class="invisible disabled" type="button"><mat-icon>delete</mat-icon></a>
                                                    </div>
                                                    <div class="mb-2 d-flex justify-content-center align-items-center"id="div-input"  *ngFor="let container of containers">
                                                        <input type="text" [(ngModel)]="productObj.prix" class="form-control" placeholder="Caractéristques: Valeur"><a type="button" (click)="removeDivEl(container)"><mat-icon>delete</mat-icon></a>
                                                    </div>
                                                </div>
                                            
                                                <div>
                                                    <button (click)="add()">Ajouter une caractéristqiue</button> 
                                                </div>
                                            
                                            </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header rounded-1">Descriptif technique</div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Marque</label>
                                                    <input type="text" [(ngModel)]="productObj.id" class="form-control">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Modèle</label>
                                                    <input type="text" [(ngModel)]="productObj.nomComplet" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Couleur</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Poids</label>
                                                    <input type="text" [(ngModel)]="productObj.prix" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Taille</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Dimensions</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control" placeholder="100x75 ou 100x75x10 (unité)">
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Capacité</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Matériaux</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                               
                                            </div>
                                          </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header rounded-1">Accessoires inclus ou associés au produit</div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control" placeholder="Exemple: ecouteur, chargeur, etc.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header rounded-1">Logistique et garantie</div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Disponiblité</label>
                                                    <select [(ngModel)]="productObj.categorie" class="form-select">
                                                        <option *ngFor="let cate of categoryList" [value]="cate.categoryId"> {{cate.categoryName}}</option>
                                                    </select> 
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Quantité en stock</label>
                                                    <input type="text" [(ngModel)]="productObj.nomComplet" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Frais de livraison</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Délai de livraison</label>
                                                    <input type="text" [(ngModel)]="productObj.prix" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Garantie</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control" placeholder="Durée de garantie">
                                                </div>
                                                <div class="col-6">
                                                    <label for="">Informations de sécurité</label>
                                                    <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="">Politique de retour</label>
                                                    <textarea rows="4" class="form-control" [(ngModel)]="productObj.description"  ></textarea>                                                </div>
                                            </div>
                                          </div>                                
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="row pt-2">
                    <div class="col-6 text-center">
                       <button class="btn btn-outline-dark" style="width: 100%;">Annuler l'enregistrement</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-dark" style="width: 100%;" *ngIf="productObj.id === 0" (click)="store(productObj)">Enregistrer</button>
                        <!-- <button class="btn btn-primary" *ngIf="productObj.id !==0" (click)="onUpdate()">Enregistrer</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-6 fw-bold h5">
                        Ajouter une catégorie 
                    </div>
                    <div class="col-6  text-end">
                        <button class="btn btn-sm btn-danger" (click)="closeSidePanel()">Fermer</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">id</label>
                        <input type="text" [(ngModel)]="productObj.id" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Nom de la catégorie</label>
                        <input type="text" [(ngModel)]="productObj.nomComplet" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Date de création</label>
                        <input type="text" [(ngModel)]="productObj.nomCourt" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">date de mise à jour</label>
                        <input type="text" [(ngModel)]="productObj.prix" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Description de la catégorie</label>
                        <textarea rows="4" class="form-control" [(ngModel)]="productObj.description"  ></textarea>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Image de la categorie</label>
                        <!-- <input type="text" [(ngModel)]="productObj.imageUrl" class="form-control"> -->
                        <input type="file" class="file-input"(change)="onFileSelected($event)" #fileUpload>

                        <div class="file-upload">
                            <button mat-mini-fab color="primary" class="btn-class d-inline-flex align-items-center p-1 rounded-2"(click)="fileUpload.click()">
                                Choisir une image<mat-icon>attach_file</mat-icon>
                            </button>
                            {{fileName || "Aucune image sélection"}}
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top" style="height: 100px; width: 100px;" [src]="localUrl" *ngIf="localUrl" alt="Card image">
                    </div> 
                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-outline-dark" style="width: 100%;" (click)="closeSidePanel()">Annuler</button>
                    </div>
                    <div class="col-6 text-center">
                        <!-- <button class="btn btn-success" *ngIf="productObj.id === 0" (click)="store(productObj)">Create Product</button> -->
                        <button class="btn btn-dark" style="width: 100%;" (click)="onUpdate()">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
