<div class="container-fluid">
  <div class="row dashboard-layout">
    <div class="sidebar-wrapper" [class.collapsed]="isSidebarCollapsed">
      <app-sidebar
        (toggleSidebar)="onToggleSidebar()"
        [isCollapsed]="isSidebarCollapsed">
      </app-sidebar>           
    </div>
    <div class="content-wrapper" [class.collapsed]="isSidebarCollapsed">
      <app-header></app-header>
      <div class="dashboard-overview">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>