.dashboard {
    padding-top: 100px;
  }

  .user-dashboard-profile {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .user-dashboard-profile .profile-thumb img {
    width: 130px;
    height: auto;
    border: 5px solid #F4F7F9;
  }
  .user-dashboard-profile h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .dashboard-container .product-dashboard-table thead th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  .dashboard-container .product-dashboard-table td {
    vertical-align: middle;
    padding: 40px 0;
  }
  .dashboard-container .product-thumb {
    width: 15%;
  }
  .dashboard-container tbody tr:hover .action a {
    color: #fff;
  }
  .dashboard-container tbody tr:hover .action a.edit {
    background: #59d659;
  }
  .dashboard-container tbody tr:hover .action a.view {
    background: #50c6e9;
  }
  .dashboard-container tbody tr:hover .action a.delete {
    background: #ff5252;
  }
  .dashboard-container .product-details {
    width: 45%;
  }
  .dashboard-container .product-details span {
    display: block;
    font-size: 14px;
    color: #848484;
  }
  .dashboard-container .product-details span strong {
    color: #666;
    width: 30%;
    display: inline-block;
  }
  .dashboard-container .product-details .title {
    font-size: 16px;
  }
  .dashboard-container .product-details .status.active {
    color: #59d659;
  }
  .dashboard-container .product-category {
    width: 15%;
    text-align: center;
  }
  .dashboard-container .action {
    width: 20%;
    text-align: center;
  }
  .dashboard-container .action a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    color: #363b4d;
    text-align: center;
    display: inline-block;
  }
  .dashboard-container .action a:hover {
    color: #fff;
  }
  .dashboard-container .action a:hover.delete {
    background: #ff5252;
  }
  .dashboard-container .action a i {
    line-height: 40px;
  }
  .dashboard-container .action .list-inline .list-inline-item:not(:last-child) {
    margin-right: 0px;
  }
  .dashboard-container .action .edit {
    background: #f7f7f7;
  }
  .dashboard-container .action .view {
    background: #f7f7f7;
  }
  .dashboard-container .action .delete {
    background: #f7f7f7;
  }

  ul.pagination li {
    margin-right: 10px;
  }
  ul.pagination li a {
    border-radius: 3px !important;
    font-size: 16px;
    padding: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-color: transparent;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    color: #666;
  }
  ul.pagination .active a {
    background-color: #5672f9 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .product-details .product-title {
    font-size: 25px;
    font-weight: 600;
  }
  .product-details .tab-title {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .product-details .product-meta li {
    color: #888;
    margin-right: 25px;
  }
  .product-details .product-meta li a {
    color: #333;
    margin-left: 3px;
  }
  .product-details .content {
    padding-top: 40px;
  }
  .product-details .content h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .product-details .content p {
    color: #888;
    line-height: 22px;
  }
  .product-details .content .nav {
    text-align: center;
    margin-bottom: 5px;
  }
  .product-details .content .nav .nav-item {
    margin-right: 3px;
  }
  .product-details .content .nav .nav-item .nav-link {
    padding: 20px 30px;
    border-radius: 0;
    background: #fff;
  }
  .product-details .content .nav .nav-item .nav-link:hover {
    background: #5672f9;
    color: #fff;
  }
  .product-details .content .nav .nav-item .nav-link.active {
    background: #5672f9;
  }
  .product-details .content .tab-content {
    background: #fff;
    padding: 30px;
  }
  

/* 
.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 2px;
  } */
.nav-pills .nav-link {
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
    padding: 10px  5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
    
  }
  
  .nav-pills .nav-link.active {
    color: white;
    background-color: lightgray;
    font-weight: bold;
  }

  .nav-pills .nav-link:hover {
    background-color: lightgray;
    color: white;
    font-weight: bold;
  }
.profile-info{
    margin-top:0px;   
    font-family: 'Times New Roman', Times, serif;
}

.bio-graph-heading {
    color: black;
    text-align: center;
    font-style: italic;
    padding: 40px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
}

.bio-graph-info {
    color: #89817e;
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
    font-size: 15px;
}
.bio-row p {
  font-size: 18px;
}

.bio-chart, .bio-desk {
    float: left;
}

.bio-chart {
    width: 40%;
}

.bio-desk {
    width: 60%;
}

.bio-desk h4 {
    font-size: 15px;
    font-weight:400;
}

.bio-desk h4.terques {
    color: #4CC5CD;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}

.form-update .form-inscription .form-outline label, .form-update .form-inscription .form-outline input, .form-update .form-inscription .form-outline select {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
.form-update .form-inscription button {
  width: 100%;
}
.card-body .champ{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.card-command{
  padding: 10px;
  /* margin-bottom: 10dp; */
  box-shadow:lightgray;
  border: none;
 /*  border-bottom: 1px solid; 
  box-shadow: 5px 5px #888888;*/
}

.icon-btn {
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: darkorange;
  font-weight: bold;
}
.icon-btn mat-icon{
  vertical-align: middle;
}

.modal-footer button{
width: 100%;
}



