<div class="container-fluid">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-client-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-client"
        type="button"
        role="tab"
        aria-controls="nav-client"
        aria-selected="true"
      >
        Accueil
      </button>
      <button
        class="nav-link"
        id="nav-bons-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-bons"
        type="button"
        role="tab"
        aria-controls="nav-bons"
        aria-selected="false"
      >
        Historique des bons
      </button>
      <button
        class="nav-link"
        id="nav-versement-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-versement"
        type="button"
        role="tab"
        aria-controls="nav-versement"
        aria-selected="false"
      >
        Historique des versements
      </button>
      <button
        class="nav-link"
        id="nav-archives-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-archives"
        type="button"
        role="tab"
        aria-controls="nav-archives"
        aria-selected="false"
      >
        Archives
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-client"
      role="tabpanel"
      aria-labelledby="nav-client-tab"
      tabindex="0"
    >
      <div class="row mt-3">
        <!-- Partie gauche -->
        <div class="col-md-12" *ngIf="!showDetails">
          <div class="row">
            <div [ngClass]="{ 'col-md-12': !isRowSelected, 'col-md-10': isRowSelected }">
              <div class="d-flex justify-content-between">
                <!-- Champ de recherche -->
                <div class="d-flex justify-content-between mb-3">
                  <!-- Boutons Action -->
                  <button class="btn btn-info me-2">
                    <i class="bi bi-box-arrow-up-right text-white me-2"></i>
                  </button>
                  <button class="btn btn-warning me-2">
                    <i class="bi bi-box-arrow-up-right text-white me-2"></i>
                  </button>
                  <button class="btn btn-secondary">
                    <i class="bi bi-arrow-clockwise text-white me-2"></i>
                  </button>
                </div>

                <button class="btn btn-success mb-3" (click)="openModal()">
                  <i class="bi bi-plus-circle text-white me-2"></i>Nouveau Client
                </button>
              </div>

              <!-- Tableau des clients -->
              <div class="table-responsive">
                <div class="d-flex justify-content-center my-3">
                  <h1 class="text-muted">Liste des Clients</h1>
                </div>

                <!-- Barre de recherche et filtres -->
                <div class="d-flex justify-content-between mb-3">
                  <div class="input-group w-50">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Rechercher un client..."
                      [(ngModel)]="searchQuery"
                      (input)="onSearchChange()"
                    />
                  </div>
                  <div>
                    <select
                      class="form-select"
                      [(ngModel)]="rowsPerPage"
                      (change)="onRowsPerPageChange($event)"
                    >
                      <option value="5">5 éléments/page</option>
                      <option value="10">10 éléments/page</option>
                      <option value="20">20 éléments/page</option>
                    </select>
                  </div>
                </div>

                <table class="table table-bordered table-hover">
                  <thead class="table-success">
                    <tr>
                      <th>Nom Complet</th>
                      <th>Adresse</th>
                      <th>Téléphone</th>
                      <th>plafond</th>
                      <!-- <th>Nº de Compte</th> -->
                      <!-- <th>Montant à nous Payer</th> -->
                      <th>Solde (Montant à nous Payer)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of getPaginatedClients" (click)="onRowSelect(client)">
                      <td>{{ client.nomComplet }}</td>
                      <td>{{ client.adresse }}</td>
                      <td>{{ client.telephone }}</td>
                      <td>{{ client.plafond }} F CFA</td>
                      <!-- <td>{{ 0 }} F CFA</td> -->
                      <td>
                        {{ client.solde }} F CFA
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Pagination -->
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Affichage de {{ (currentPageClient - 1) * rowsPerPage + 1 }} à
                  {{ min(currentPageClient * rowsPerPage, filteredClients.length) }}
                  sur {{ filteredClients.length }} Clients
                </div>
                <div>
                  <button
                    class="btn btn-success"
                    (click)="onPageChange(currentPageClient - 1, 'Client')"
                    [disabled]="currentPageClient === 1"
                  >
                    <i class="bi bi-arrow-left-circle"></i>
                  </button>
                  <span class="h3">{{ currentPageClient }}</span>
                  <button
                    class="btn btn-success"
                    (click)="onPageChange(currentPageClient + 1, 'Client')"
                    [disabled]="currentPageClient >= getTotalPages(filteredClients)"
                  >
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- Colonne droite (actions) -->
            <div *ngIf="isRowSelected" class="col-md-2 bg-light">
              <div class="float-end">
                <button class="btn btn-danger w-auto float-end" (click)="closeActions()">
                  <i class="bi bi-x-lg text-white"></i>
                </button>
              </div>
              <div class="mt-2 float-start">
                <h2>Action pour :</h2>
                <p>Id: {{ selectedClient?.id }}</p>
                <p>Nom: {{ selectedClient?.nomComplet }}</p>
              </div>

              <div class="btn-group-vertical">
                <button class="btn btn-warning me-3 text-white" (click)="onAction('modifier')">
                    <i class="bi bi-pencil text-white me-2"></i>Modifier
                </button>
                <button class="btn btn-danger" (click)="onAction('supprimer')">
                  <i class="bi bi-trash text-white me-2"></i>Supprimer
                </button>
                <button class="btn btn-info d-flex text-white" (click)="onAction('operation')">
                  <i class="bi bi-eye me-2"></i> Opérations
                </button>
                <button
                  class="btn btn-secondary d-flex align-items-center"
                  (click)="onAction('statut')"
                >
                  <i
                    class="me-2 bi"
                    [ngClass]="selectedClient?.statut ? 'bi-x-circle-fill' : 'bi-check-circle-fill'"
                  ></i
                  >{{ selectedClient?.statut ? 'Désactiver' : 'Activer' }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Partie droite des actions pour les opération(Détails du bon / transaction) -->
        <div class="col-md-12" *ngIf="showDetails">
          <div class="d-flex justify-content-start mb-3">
            <button class="btn btn-dark d-flex align-items-center" (click)="closeDetails()">
              <i class="bi bi-arrow-left me-2"></i>Retour
            </button>
          </div>

          <!-- Détails des Opérations -->
          <div *ngIf="showBonDetailsSection" class="mb-5">
            <div class="d-flex justify-content-between mb-3">
              <h2>Opérations du client : {{ selectedClient?.nomComplet }}</h2>
              <div class="d-flex align-items-center">
                <div class="me-3">
                  <label for="startDate">Du :</label>
                  <input
                    type="date"
                    id="startDate"
                    [(ngModel)]="startDate"
                    class="form-control"
                    (change)="filtrerOperations()"
                  />
                </div>

                <div>
                  <label for="endDate">Au :</label>
                  <input
                    type="date"
                    id="endDate"
                    [(ngModel)]="endDate"
                    class="form-control"
                    (change)="filtrerOperations()"
                  />
                </div>
              </div>
            </div>
            <div>
              <h4>Montant à nous verser (solde) : {{selectedClient?.solde}} </h4>
              <!-- <h4>Montant avoir : {{selectedClient?.solde}} </h4>  -->
            </div>
            <!-- Recherche Bons -->
            <div class="d-flex justify-content-between mb-3">
              <button class="btn btn-info me-3" (click)="toggleBonForm()">
                <i class="bi bi-printer me-2"></i>Imprimer relevé
              </button>
              <div>
                <button class="btn btn-success me-3" (click)="toggleBonForm()">
                  <i class="bi bi-plus-circle me-2"></i>{{textBoutonNewBon}}
                </button>
                <button [disabled]="!selectedClient || !selectedClient.solde || selectedClient.solde <= 0" class="btn btn-warning" (click)="togglePaiementForm()">
                  <i class="bi bi-plus-circle me-2"></i>Nouveau versement
                </button>
              </div>
            </div>

            <!-- Formulaire d'ajout d'un Paiement -->
            <div *ngIf="showPaiementForm" class="mt-3 mb-5">
              <!-- Composant Paiement Réutilisable -->
                <app-paiement
                  [showPaiementForm]="showPaiementComponent"
                  [titre]="'Formulaire d\'ajout d\'un paiement fournisseur'"
                  [typeEntite]="'fournisseur'"
                  [resetFormPaiement]="!showPaiementForm"
                  [entiteId]="selectedClient?.id"
                  [entiteNom]="selectedClient?.nomComplet"
                  [showFichierField]="true"
                  (onEnregistrerPaiement)="onPaiementEnregistre($event)"
                  (onAnnulerPaiement)="onPaiementAnnule()"
                  (onReinitiliaserPaiementFor)="onReinitialiserPaiementForm()"
                ></app-paiement>
            </div>

            <!-- Formulaire pour ajouter un nouveau bon -->
            <div *ngIf="showBonForm" class="formBon">
              <app-bons
                [produitsDisponibles]="filteredProducts"
                [typeEntite]="typeEntite"
                [entiteId]="selectedClient?.id"
                [entiteNom]="selectedClient?.nomComplet"
                (onEnregistrerBon)="onBonEnregistre($event)"
                (showFileField)=true
                [resetForm]="!showBonForm" 
                (onAnnulerBon)="onBonAnnule()"
                (onReinitialiserPanier)="resetPanierFlag = true"

              ></app-bons>
            </div>

            <div class="table-responsive">
              <!-- Tableau des Opérations -->
              <div class="d-flex justify-content-center mt-4">
                <h2 class="text-warning">
                  Opérations sur la période du {{ startDate | date: 'dd/MM/yyyy' }} au
                  {{ endDate | date: 'dd/MM/yyyy' }}
                </h2>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Type d'opération</th>
                    <th>Date et Heure</th>
                    <th>Montant payé</th>
                    <th>Agent opération</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let operation of filteredOperations; let i = index">
                    <tr>
                      <td>
                        <!-- {{ operation.type }} -->
                         <span [ngClass]="{
                            'badge bg-primary': operation.type === 'COMMANDE',
                            'badge bg-success': operation.type === 'VERSEMENT',
                            'badge bg-success-subtle': operation.type === 'REGLEMENT',
                            'badge bg-warning': operation.type === 'VENTE',
                            'badge bg-danger': operation.type === 'RETOUR',
                            'badge bg-secondary': operation.type === 'AVOIR',
                            'badge bg-info': operation.type === 'LIVRAISON'}">
                            
                            {{ operation.type }}
                          </span>
                      </td>
                      <td>{{ operation.dateOperation | date: 'dd/MM/yyyy HH:mm' }}</td>
                      <td>{{ operation.montantPaye | number}} F CFA</td>
                      <td>
                        <!-- {{ operation.User?.['nomComplet'] }} -->
                           <span *ngIf="operation.user; else noAgent">
                              {{ operation?.user?.['nom'] }} 
                            </span>
                            <ng-template #noAgent>
                              <span class="text-muted">Non assigné</span>
                            </ng-template>
                      </td>
                      <td>
                        <!-- <button class="btn btn-info" (click)="toggleDetails(i, operation)">
                          <i class="bi bi-eye"></i> Détails
                        </button> -->
                        <button 
                            class="btn btn-info btn-sm" 
                            (click)="toggleDetails(i, operation)"
                          >
                            <i class="bi bi-eye"></i> 
                            {{ selectedBonIndexO === i ? 'Masquer' : 'Détails' }}
                          </button>
                      </td>
                    </tr>

                    <!-- Récupération du bon lié à l'opération -->
                    <tr *ngIf="selectedBonIndexO === i">
                      <td colspan="5">
                        <div class="p-3 bg-light rounded">
                  
                        <!-- Affichage pour les BONS -->
                        <div *ngIf="operation.type !== 'VERSEMENT' && operation.type !== 'REGLEMENT'">
                          <div *ngIf="operation?.Bon as bon; else noBon">
                            <!-- En-tête du bon -->
                            <div class="row mb-3">
                              <div class="d-flex justify-content-between align-items-center">
                                <h4 class="me-3">
                                  Détails du bon Nº: <em>{{ bon.numero }}</em>
                                  <span class="badge ms-2" [ngClass]="{
                                    'bg-secondary': bon.statutBon === 'brouillon',
                                    'bg-success': bon.statutBon === 'validé',
                                    'bg-primary': bon.statutBon === 'livré',
                                    'bg-warning': bon.statutBon === 'retourné',
                                    'bg-danger': bon.statutBon === 'annulé',
                                    'bg-info': bon.statutBon === 'facturé'
                                  }">
                                    {{ bon.statutBon }}
                                  </span>
                                </h4>
                                
                                <!-- Actions du bon -->
                                <div class="btn-group">

                                  <button class="btn btn-outline-success btn-sm me-1" (click)="livrerBon(bon)"
                                          *ngIf="bon.type === 'commande' && bon?.statutBon ==='validé'">
                                    <i class="bi bi-truck"></i> Livrer
                                  </button>
                                  
                                  <button class="btn btn-outline-danger btn-sm me-1" (click)="annulerBon(bon)"
                                          *ngIf="bon.statutBon === 'validé' && bon.type === 'commande'">
                                    <i class="bi bi-x-circle"></i> Annuler
                                  </button>
                                  
                                  <button class="btn btn-outline-dark btn-sm me-1" (click)="retournerBon(bon)"
                                         *ngIf="canReturn(bon)">
                                    <i class="bi bi-arrow-counterclockwise"></i> Retouner
                                  </button>

                                  <button class="btn btn-outline-primary btn-sm me-1" (click)="genererTicketPaiementBon(bon)"
                                          *ngIf="bon.statutBon === 'validé' && (bon?.avance ?? 0) > 0">
                                    <i class="bi bi-receipt"></i> Ticket de paiement
                                  </button>
                                  
                                  <button class="btn btn-outline-success btn-sm me-1" 
                                          *ngIf="bon.statutBon === 'validé' && bon.type === 'commande'">
                                    <i class="bi bi-send"></i> Transfèrer
                                  </button>
                                  
                                  <button class="btn btn-outline-info btn-sm me-1" (click)="facturerBon(bon)"
                                          *ngIf="bon.statutBon === 'validé'">
                                    <i class="bi bi-receipt"></i> Facturer
                                  </button>
                                  
                                  <button class="btn btn-outline-secondary btn-sm" (click)="imprimerBon(bon)">
                                    <i class="bi bi-printer"></i> Imprimer
                                  </button>
                                </div>
                              </div>

                              <!-- Totaux du bon -->
                              <div class="row mt-3">
                                <div class="col-md-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h6 class="card-title">Récapitulatif financier</h6>
                                      <div class="row">
                                        <div class="col-6">
                                          <small>Total HT:</small><br>
                                          <strong>{{ operation.Bon?.Panier?.totalHT | number }} F CFA</strong>
                                        </div>
                                        <div class="col-6">
                                          <small>TVA:</small><br>
                                          <strong>{{ operation.Bon?.Panier?.tva | number }} F CFA</strong>
                                        </div>
                                        <div class="col-12 mt-2">
                                          <small>Remise:</small><br>
                                          <strong>{{ operation.Bon?.Panier?.remise | number }} F CFA</strong>
                                        </div>
                                        <div class="col-6 mt-2">
                                          <small>Total TTC:</small><br>
                                          <strong>{{ operation.Bon?.Panier?.totalTTC | number }} F CFA</strong>
                                        </div>
                                        <div class="col-6 mt-2">
                                          <small>Avance:</small><br>
                                          <strong>{{ operation.montantPaye | number }} F CFA</strong>
                                        </div>
                                        <div *ngIf="operation.Bon?.fichier; else noBonFile">
                                    <a 
                                      [href]="operation.Bon?.fichier" 
                                      target="_blank" 
                                      class="btn btn-sm btn-secondary"
                                    >
                                      <i class="bi bi-download"></i> Télécharger la pièce jointe
                                      </a>
                                      
                                    </div>
                                    <ng-template #noBonFile>
                                        <span class="text-muted">Aucune pièce jointe</span>
                                      </ng-template>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Tableau des produits -->
                            <h5>Produits associés</h5>
                            <div class="table-responsive">
                              <table class="table table-sm table-hover">
                                <thead>
                                  <tr>
                                    <th>Produit</th>
                                    <!-- <th>Référence</th> -->
                                    <th>Quantité</th>
                                    <th>Prix Unitaire</th>
                                    <th>remise</th>
                                    <th>tva</th>
                                    <th>Total HT</th>
                                    <th>Total TTC</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let article of operation.Bon?.Panier?.ArticlePaniers || []">
                                    <!-- <td>
                                      <strong>{{ article.Produit?.designation }}</strong>
                                    </td> -->
                                    <td>{{ article.Produit?.designation || 'N/A' }}</td>
                                    <td>
                                      {{ article.quantite }} 
                                      <small class="text-muted">{{ article.Produit?.unite }}</small>
                                    </td>
                                    <td>{{ article.prixUnitaire | number }} F CFA</td>
                                    <td>{{article.remise}}% <small>({{ article.montantRemise | number }} F CFA)</small></td>
                                    <td>{{article.tauxTVA}}% <small>({{ article.montantTVA | number }} F CFA</small>) </td>
                                    <td>
                                      <strong>{{ (article.totalHT) | number }} F CFA</strong>
                                    </td>
                                    <td>
                                      <strong>{{ (article.totalTTC) | number }} F CFA</strong>
                                    </td>
                                  </tr>
                                  <tr *ngIf="!operation.Bon?.Panier?.ArticlePaniers?.length">
                                    <td colspan="5" class="text-center text-muted">
                                      Aucun produit dans ce bon
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <ng-template #noBon>
                            <div class="alert alert-warning">
                              <i class="bi bi-exclamation-triangle"></i>
                              Aucun bon associé à cette opération
                            </div>
                          </ng-template>
                        </div>

                        <!-- Affichage pour les VERSEMENTS/REGLEMENTS -->
                        <div *ngIf="operation.type === 'VERSEMENT' || operation.type === 'REGLEMENT'">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Détails du paiement</h5>
                                  <p><strong>Type:</strong> {{ operation.type }}</p>
                                  <p><strong>Montant:</strong> {{ operation.montantPaye | number }} F CFA</p>
                                  <p><strong>Moyen de paiement:</strong> {{ operation.moyenPaiement }}</p>
                                  <p><strong>Référence:</strong> {{ operation.numeroVersement }}</p> 
                                  <p><strong>Description:</strong> {{ operation.commentaire }}</p>
                                  <div *ngIf="operation.fichier; else noFile">
                                    <a 
                                      [href]="operation.fichier" 
                                      target="_blank" 
                                      class="btn btn-sm btn-secondary"
                                    >
                                      <i class="bi bi-download"></i> Télécharger la pièce jointe
                                      </a>
                                      
                                    </div>
                                    <ng-template #noFile>
                                        <span class="text-muted">Aucune pièce jointe</span>
                                    </ng-template>
                                    <button class="btn btn-outline-success btn-sm mt-5" (click)="genererTicketVersement(operation)">
                                    <i class="bi bi-receipt"></i> Ticket de paiement
                                  </button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                       
                      </td>
                    </tr>
                  </ng-container>
                  <!-- Message si aucune opération -->
                  <tr *ngIf="filteredOperations.length === 0">
                    <td colspan="5" class="text-center text-muted py-4">
                      <i class="bi bi-inbox display-4 d-block mb-2"></i>
                      Aucune opération trouvée pour cette période
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" [ngClass]="{ 'd-block': showModal, 'd-none': !showModal }">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h1 class="modal-title">
              {{ isEditMode ? 'Modifier le client' : 'Ajouter un client' }}
            </h1>
            <button type="button" class="btn-close bg-danger" (click)="closeModal()">
              <i class="bi bi-x-lg text-white"></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="clientForm" (ngSubmit)="onModalSubmit()">
              <!-- Première ligne -->
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="nomComplet" class="form-label"
                      >Nom complet <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="nomComplet"
                      formControlName="nomComplet"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('nomComplet')?.invalid &&
                          (clientForm.get('nomComplet')?.dirty ||
                            clientForm.get('nomComplet')?.touched),
                      }"
                    />
                    <div
                      *ngIf="
                        clientForm.get('nomComplet')?.invalid &&
                        (clientForm.get('nomComplet')?.dirty ||
                          clientForm.get('nomComplet')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Le nom complet est obligatoire
                    </div>
                  </div>
                </div>
              </div>

              <!-- Deuxième ligne -->
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('email')?.invalid &&
                          (clientForm.get('email')?.dirty || clientForm.get('email')?.touched),
                      }"
                    />
                    <div
                      *ngIf="
                        clientForm.get('email')?.invalid &&
                        (clientForm.get('email')?.dirty || clientForm.get('email')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Veuillez entrer une adresse email valide
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="telephone" class="form-label"
                      >Téléphone <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="telephone"
                      formControlName="telephone"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('telephone')?.invalid &&
                          (clientForm.get('telephone')?.dirty ||
                            clientForm.get('telephone')?.touched),
                      }"
                    />
                    <div
                      *ngIf="
                        clientForm.get('telephone')?.errors?.['required'] &&
                        (clientForm.get('telephone')?.dirty || clientForm.get('telephone')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Le téléphone est obligatoire
                    </div>
                    <div
                      *ngIf="
                        clientForm.get('telephone')?.errors?.['pattern'] &&
                        (clientForm.get('telephone')?.dirty || clientForm.get('telephone')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Le téléphone doit contenir entre 9 et 12 chiffres
                    </div>
                  </div>
                </div>
              </div>

              <!-- Troisième ligne -->
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="adresse" class="form-label"
                      >Adresse <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="adresse"
                      formControlName="adresse"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('adresse')?.invalid &&
                          (clientForm.get('adresse')?.dirty || clientForm.get('adresse')?.touched),
                      }"
                    />
                    <div
                      *ngIf="
                        clientForm.get('adresse')?.invalid &&
                        (clientForm.get('adresse')?.dirty || clientForm.get('adresse')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      L'adresse est obligatoire
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="solde" class="form-label">Solde</label>
                    <input type="number" class="form-control" id="solde" formControlName="solde" />
                  </div>
                </div>
              </div>

              <!-- Quatrième ligne -->
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="plafond" class="form-label"
                      >Plafond <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="plafond"
                      formControlName="plafond"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('plafond')?.invalid &&
                          (clientForm.get('plafond')?.dirty || clientForm.get('plafond')?.touched),
                      }"
                    />
                    <div
                      *ngIf="
                        clientForm.get('plafond')?.invalid &&
                        (clientForm.get('plafond')?.dirty || clientForm.get('plafond')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Le plafond est obligatoire
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="estEmploye" class="form-label"
                      >Est employé ? <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-control"
                      id="estEmploye"
                      formControlName="estEmploye"
                      [ngClass]="{
                        'is-invalid':
                          clientForm.get('estEmploye')?.invalid &&
                          (clientForm.get('estEmploye')?.dirty ||
                            clientForm.get('estEmploye')?.touched),
                      }"
                    >
                      <option value="true">Oui</option>
                      <option value="false">Non</option>
                    </select>
                    <div
                      *ngIf="
                        clientForm.get('estEmploye')?.invalid &&
                        (clientForm.get('estEmploye')?.dirty ||
                          clientForm.get('estEmploye')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
              </div>

              <!-- Champ Statut (uniquement en mode édition) -->
              <div *ngIf="isEditMode" class="row">
                <div class="col-md-4 mb-3">
                  <label for="statut" class="form-label">Statut</label>
                  <div class="form-check form-switch">
                    <input
                      name="statut"
                      class="form-check-input"
                      type="checkbox"
                      id="statut"
                      formControlName="statut"
                    />
                    <label class="form-check-label" for="statut">
                      {{ clientForm.get('statut')?.value ? 'Actif' : 'Inactif' }}
                    </label>
                  </div>
                </div>
              </div>

              <!-- Boutons -->
              <div class="d-flex justify-content-center mt-3">
                <button
                  type="submit"
                  class="btn btn-success me-2 w-50"
                  [disabled]="clientForm.invalid"
                >
                  Enregistrer
                </button>
                <button type="button" class="btn btn-danger w-50" (click)="closeModal()">
                  Annuler
                </button>
              </div>

              <!-- Message d'erreur général -->
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="nav-bons"
      role="tabpanel"
      aria-labelledby="nav-bons-tab"
      tabindex="0"
    >
      <div class="table-responsive">
        <!-- Tableau des bons -->
        <div class="d-flex justify-content-center mt-4">
          <h2 class="text-warning">Historique des bons</h2>
        </div>
        <!-- Recherche Bons -->
        <div class="d-flex justify-content-between mb-3">
          <input
            type="text"
            class="form-control w-25"
            [(ngModel)]="searchBonQuery"
            placeholder="Rechercher un bon..."
            (input)="onSearchChangeBon()"
          />
        </div>
        <!-- Sélection du nombre de lignes à afficher -->
        <div class="d-flex justify-content-between align-items-center mb-2 float-start">
          <label for="rowsPerPage" class="me-2">Afficher</label>
          <select
            id="rowsPerPage"
            class="form-select w-auto me-2"
            (change)="onRowsPerPageChange($event)"
          >
            <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
          </select>
          <span>lignes par page</span>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nº Bon</th>
              <th>Description</th>
              <th>Montant Total</th>
              <th>Client</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let bon of getPaginatedBons; let i = index">
              <!-- Ligne principale du bon -->
              <tr>
                <td>{{ bon.numero }}</td>
                <td>{{ bon.description }}</td>
                <td>{{ bon.type ==='retour'? bon.montantAvoir : bon.montantTotal}} F CFA</td>
                <td>{{ getClientByOperation(bon)?.nomComplet }}</td>
                <td>{{ bon.type }}</td>
                
                <td>
                  <button class="btn btn-info" (click)="toggleDetailBiss(i, bon)">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </tr>

              <!-- Détails du bon -->
              <tr *ngIf="selectedBonIndexB === i">
                <td colspan="6">
                  <div *ngIf="bon">
                    <div class="d-flex justify-content-start align-items-center mb-2 me-5">
                      <span class="me-3"
                        >💰 Total des produits:
                        <strong>{{ bon.Panier?.totalHT }} F CFA</strong></span
                      >
                      <span class="me-3"
                        >💰 Remise: <strong>{{ bon.remise }} F CFA</strong></span
                      >
                      <span
                        >💰 Net à payer: <strong>{{ bon.resteAPayer }} F CFA</strong></span
                      >
                    </div>

                    <!-- Tableau des produits -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Produit</th>
                          <th>Quantité</th>
                          <th>Unité Stock</th>
                          <th>Prix Unitaire</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let produit of bon.Panier.ArticlePaniers">
                          <td>{{ produit.Produit.designation || produit.produit.designation }}</td>
                          <td>{{ produit.quantite }}</td>
                          <td>{{ produit.Produit.unite || produit.produit.unite }}</td>
                          <td>{{ produit.prixAchatUnitaire }} F CFA</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- Pagination des Bons -->
        <div class="d-flex justify-content-center align-items-center">
          <button
            class="btn btn-success"
            (click)="onPageChange(currentPageBon - 1, 'Bon')"
            [disabled]="currentPageBon === 1"
          >
            <i class="bi bi-arrow-left-circle"></i>
          </button>
          <span class="h3">{{ currentPageBon }} / {{ getTotalPages(filteredBons) }}</span>
          <button
            class="btn btn-success"
            (click)="onPageChange(currentPageBon + 1, 'Bon')"
            [disabled]="currentPageBon >= getTotalPages(filteredBons)"
          >
            <i class="bi bi-arrow-right-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-versement"
      role="tabpanel"
      aria-labelledby="nav-versement-tab"
      tabindex="0"
    >
      <div class="table-responsive">
        <!-- Tableau des paiements -->
        <div class="d-flex justify-content-center mt-4">
          <h2 class="text-warning">Historique des paiements</h2>
        </div>
        <!-- Recherche Paiements -->
        <div class="d-flex justify-content-between mb-3">
          <input
            type="text"
            class="form-control w-25"
            [(ngModel)]="searchPaiementQuery"
            placeholder="Rechercher un paiement..."
            (input)="onSearchChangePaiement()"
          />
        </div>
        <!-- Sélection du nombre de lignes à afficher -->
        <div class="d-flex justify-content-between align-items-center mb-2 float-start">
          <label for="rowsPerPage" class="me-2">Afficher</label>
          <select
            id="rowsPerPage"
            class="form-select w-auto me-2"
            (change)="onRowsPerPageChange($event)"
          >
            <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
          </select>
          <span>lignes par page</span>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Description</th>
              <th>Montant</th>
              <th>Date</th>
              <th>Client</th>
              <th>Méthode de Paiement</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let paiement of getPaginatedPaiements; let i = index">
              <tr>
                <td>{{ paiement.description }}</td>
                <td>{{ paiement.montant }} F CFA</td>
                <td>{{ paiement.date | date: 'dd/mm/yyy à HH:MM' }}</td>
                <td>{{ getClientByOperation(paiement)?.nomComplet }}</td>
                <td>{{ paiement.methodePaiement }}</td>
              </tr> 
            </ng-container>
          </tbody>
        </table>
        <!-- Pagination des Paiements -->
        <div class="d-flex justify-content-center align-items-center">
          <button
            class="btn btn-success"
            (click)="onPageChange(currentPagePaiement - 1, 'Paiement')"
            [disabled]="currentPagePaiement === 1"
          >
            <i class="bi bi-arrow-left-circle"></i>
          </button>
          <span class="h3">{{ currentPagePaiement }} / {{ getTotalPages(filteredPaiements) }}</span>
          <button
            class="btn btn-success"
            (click)="onPageChange(currentPagePaiement + 1, 'Paiement')"
            [disabled]="currentPagePaiement >= getTotalPages(filteredPaiements)"
          >
            <i class="bi bi-arrow-right-circle"></i>
          </button>
        </div>
      </div>
    </div>
  
    <div
      class="tab-pane fade"
      id="nav-archives"
      role="tabpanel"
      aria-labelledby="nav-archives-tab"
      tabindex="0"
    >
      <!-- Tableau des Clients archivés -->
      <div class="table-responsive">
        <div class="d-flex justify-content-center mt-4">
          <h2 class="text-warning">Liste des clients archivés</h2>
        </div>
        <table class="table table-bordered table-hover">
          <thead class="table-success">
            <tr>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Téléphone</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngIf="archivededClients.length === 0">
                  <td colspan="5" class="text-center text-muted py-4">
                    <i class="bi bi-person display-4 d-block mb-2"></i>
                    Aucune client archivé
                  </td>
              </tr>
              <tr *ngFor="let fournisseur of archivededClients"
              (click)="onRowSelect(fournisseur)" >
                  <td>{{ fournisseur.nomComplet }}</td>
                  <td>{{ fournisseur.adresse }}</td>
                  <td>{{ fournisseur.telephone }}</td>
                  <td>
                    <span class="badge bg-danger h2" >Inactif</span>
                  </td>
                  <td class="d-flex justify-content-center">
                    <button class="btn btn-warning" (click)="toggleStatut(fournisseur)">
                      <i class="bi bi-check-circle-fill me-2"></i>Activer
                    </button>
                  </td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
</div>
<!-- Ajouter cette modal de confirmation -->
<!-- <div class="modal" tabindex="-1" [ngClass]="{ 'd-block': showConfirmationModal, 'd-none': !showConfirmationModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Confirmation requise</h5>
        <button type="button" class="btn-close" (click)="annulerAction()">
          <i class="bi bi-x-lg"></i>Activer
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="actionEnCours === 'annuler_panier'">
          Êtes-vous sûr de vouloir annuler ce panier ? Cette action supprimera définitivement 
          le bon et tous les articles associés.
        </p>
        <div class="alert alert-warning">
          <strong>Attention :</strong> Cette action est irréversible.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="annulerAction()">
          Non, continuer
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmerAction()">
          Oui, annuler définitivement
        </button>
      </div>
    </div>
  </div>
</div> -->