.container {
    max-width: 960px;
    font-family: 'Times New Roman', Times, serif;
  }

  .needs-validation label{
    font-size: 16px;

  }

  
  .needs-validation input{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding:5px;
    border: 1px solid darkgray;

  }

  .my-0{
    font-size: 12px;
  }

  