<!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #0aa81f"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #0aa81f"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Suivez-nous sur les réseaux sociaux:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <mat-icon>facebook</mat-icon>
          </a>
          <!-- <a href="" class="text-white me-4">
            <mat-icon>twitter</mat-icon>
          </a>
          <a href="" class="text-white me-4">
            <mat-icon>google</mat-icon>
          </a>
          <a href="" class="text-white me-4">
            <mat-icon>instagram</mat-icon>
          </a>
          <a href="" class="text-white me-4">
            <mat-icon>linkedin</mat-icon>
          </a>
          <a href="" class="text-white me-4">
            <mat-icon>github</mat-icon>
          </a> -->
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <a href="#"> <img src="./assets/CMP.png" alt="" width="150" height="130"> </a>
              <!--<h2 class="text-uppercase fw-bold">CASAMARKETPLACE PRODUITS</h2>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0aa81f; height: 2px"
                  /> -->
              <p style =" size: 30px; width: 150px; text-align: center;" class="mt-2">
                CMP est une plateforme en ligne de vente de produits locaux de la
                Casamance
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h2 class="text-uppercase fw-bold">Nos produits</h2>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0aa81f; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Catégorie 1</a>
              </p>
              <p>
                <a href="#!" class="text-white">Catégorie 2</a>
              </p>
              <p>
                <a href="#!" class="text-white">Catégorie 3</a>
              </p>
              <p>
                <a href="#!" class="text-white">Catégorie 4</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h2 class="text-uppercase fw-bold">Liens utiles</h2>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0aa81f; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Votre compte</a>
              </p>
              <p>
                <a href="#!" class="text-white">Les vendeurs les plus suivis</a>
              </p>
              <p>
                <a href="#!" class="text-white">Nos partenaires</a>
              </p>
              <p>
                <a href="#!" class="text-white">Besoin d'aide</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h2 class="text-uppercase fw-bold">Contact</h2>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0aa81f; height: 2px"
                  />
              <p><mat-icon>home</mat-icon> Thiaroye/Mer, Pikine, Sénégal</p>
              <p><mat-icon>email</mat-icon> abadji3992&commat;gmail.com</p>
              <p><mat-icon>phone</mat-icon> +221 77 985 29 75</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright: CASAMARKETPLACE PRODUITS
        <!-- <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          > -->
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->