<div class="container-fluid">
  <!-- <div class="d-flex justify-content-center">
    <h1 class="fw-bold"> PARAMETRES ET CONFIGURATION</h1>
  </div> 
  <hr> -->
  <div class="d-flex align-items-start">
    <div
      class="nav flex-column nav-pills me-5"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link active"
        id="v-pills-general-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-general"
        type="button"
        role="tab"
        aria-controls="v-pills-general"
        aria-selected="true"
      >
        Infos Structure
      </button> 
      <button
        class="nav-link"
        id="v-pills-utilisateurs-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-utilisateurs"
        type="button"
        role="tab"
        aria-controls="v-pills-utilisateurs"
        aria-selected="true"
      >
        Utilisateurs
      </button>
      <!-- <button
        class="nav-link"
        id="v-pills-droit-permission-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-droit-permission"
        type="button"
        role="tab"
        aria-controls="v-pills-droit-permission"
        aria-selected="false"
        droit-permission
      >
        Droits et permissions
      </button> -->
      <!-- <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button> -->
    </div>
    <div class="tab-content w-100" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-general"
        role="tabpanel"
        aria-labelledby="v-pills-general-tab"
        tabindex="0"
      >
        <app-structure></app-structure>
      </div> 
      <div
        class="tab-pane fade"
        id="v-pills-utilisateurs"
        role="tabpanel"
        aria-labelledby="v-pills-utilisateurs-tab"
        tabindex="0"
      >
        <app-user></app-user>
      </div>
      <!-- <div
        class="tab-pane fade"
        id="v-pills-droit-permission"
        role="tabpanel"
        aria-labelledby="v-pills-droit-permission-tab"
        tabindex="0"
      >
        <app-roles-permissions></app-roles-permissions>
      </div> -->
      <!-- <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div> -->
    </div>
  </div>
</div>
