/* ..................................... */
.checkout-table {
    border-top: 1px solid #F2F2F2;
  }

 .checkout-table .table {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 1px solid #F2F2F2;
  }

.checkout-table .table tbody tr td {
    border: 0;
    border-bottom: 1px solid #F2F2F2;
    /* padding: 12px; */
    vertical-align: middle;
  }

  .checkout-table .table tbody tr td.checkout-product {
    min-width: 190px;
    padding-right: 0;
    text-align: left;
  }
  .checkout-table .table tbody tr td.checkout-quantity {
    width: 100px;
    /* padding-left: 5px;
    padding-right: 5px; */
  }

 /*  .checkout-table .table tbody tr td.checkout-price {
    min-width: 80px;
    width: 100px;
    padding-left: 0;
  } */

 .checkout-table .product-cart .product-thumb img {
    width: 40px;
  }

  .checkout-table .product-cart .product-content {
    padding-left: 8px;
  }

  .checkout-table .product-cart .product-content .title a {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    transition: all 0.3s linear;
  }

   .checkout-table .product-cart .product-content .title a:hover {
    color: #542DED;
  }

  .checkout-table .product-cart .product-content ul li {
    display: block;
  }

   .checkout-table .product-cart .product-content ul li + li {
    margin-left: 8px;
  }

  /* .checkout-table .product-cart .product-content ul li span {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
    color: #7D7D7D;
  } */

  .checkout-table .product-cart .product-content ul li .delete {
    font-size: 16px;
    color: #FF4B22;
    padding: 0;
  }

  .checkout-table .product-quantity {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
  }
 .checkout-table .product-quantity button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    transition: all 0.4s linear;
    color: rgba(0, 0, 0, 0.8);
  }

  .checkout-table .product-quantity button:hover {
    color: #542DED;
  }
  .checkout-table .product-quantity input {
    width: 40px;
    height: 28px;
    border: 0;
    padding: 0 5px;
    text-align: center;
    font-weight: 700;
    background-color: transparent;
    color: #000;
    font-size: 16px;
  }

 .checkout-table .price {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000;
  }