.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover mat-icon {
    color: #3b71ca !important;
  }

.stock-product{
    display: flex;
    align-items: start;
}
.stock-product mat-icon{
    vertical-align: middle;
}
.div-add-btn{
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.div-add-btn mat-icon{
    vertical-align: middle;
}
.div-qte, .h6{
    vertical-align: middle;
}
.tab-title {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }


  .product-review img {
    width: 60px;
    margin-right: 20px;
  }
  .product-review .name h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .product-review .media-body {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
  }
  .product-review .review-submission h5 {
    font-size: 16px;
    color: #888;
  }
  .product-review .review-submission .rate {
    margin-bottom: 20px;
  }
  .product-review .review-submission .rate mat-icon {
    margin: 0 5px;
  }
  .product-review .review-submission .form-control {
    margin-bottom: 8px;
    border-radius: 0;
  }
  .product-review .review-submission input[type=email], .product-review .review-submission input[type=password], .product-review .review-submission input[type=text], .product-review .review-submission input[type=tel] {
    height: 40px;
  }
.nav-tab-product {
  margin-top: 20px;
  background-color: white;
}

.nav-tab-product .nav-item {
  background-color: white;
  border: none;
  margin: 10px;
  border-radius: 15px;

}

.nav-tab-product .nav-item .nav-link{
  padding: 10px;
  border: none;
}

.nav-tab-product .nav-item .nav-link.active{
  border: 1px solid darkorange;
}
.nav-tab-product .nav-item .nav-link img{
  width: 100px;
  height: 100px;
}

.tab1 {
    overflow: hidden; }
  
.tab1 img {
      width: 100%;
      border-radius: 5px;
      -webkit-animation-name: opacity;
      animation-name: opacity;
      -webkit-animation-duration: .3s;
      animation-duration: .3s; 

} 

.nav-bottom {
  /* border-bottom: 1px solid lightgray; */
  background-color: orange;
}

.nav-bottom .nav-item .nav-link{
  font-size: 14px;
  display: flex;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.nav-bottom .nav-item .nav-link.active{
    color: black;
    background-color: white;
    border-bottom: 1px solid darkgray;
    font-weight: bold;
}
.nav-bottom .nav-item .nav-link:hover{
  color: white;
  background-color: darkgray;
  font-weight: bold;
}

.similar-products:hover{
  background-color: lightgrey;
}
  