.container {
    font-family: 'Times New Roman', Times, serif;
}
.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.card-header,.info-prod {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: lightgray;
}

.fw-normal, .price{
    font-size: 15px;
}

.champ{
    font-size: 14px;
}