<section class="dashboard section py-5 container-fluid bg-light">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row d-flex justify-content-center">
        <div class="col-lg-2 bg-white mx-2 p-0" style="height: fit-content;">
          <div class="sidebar">
            <!-- User Widget -->
            <div class="mb-5 widget user-dashboard-profile rounded-3">
              <!-- User Image -->
              <div class="profile-thumb">
                <img src="./assets/avatar.jpg" alt="" class="rounded-circle">
              </div>
              <!-- User Name -->
              <h4 class="text-center">Aliou BADJI</h4>
              <p>abaji3992&commat;gmail.com</p>
            </div>
            <!-- Dashboard Links -->
            <div class="widget user-dashboard-menu mt-5">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><mat-icon>account_circle</mat-icon>Profil</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><mat-icon>edit</mat-icon>Modifier le profil</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><mat-icon>history</mat-icon>Vos commandes</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="modal" data-bs-target="#deleteaccount" type="button" aria-controls="v-pills-settings" aria-selected="false"><mat-icon>delete</mat-icon>Supprimer le compte</button>
                </div>
            </div>
            
            <!-- delete-account modal -->
            <!-- delete account popup modal start-->
  <!-- Modal -->
  <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header border-bottom-0 bg-light">
            <div class="d-flex justify-content-center panel-heading rounded-3 p-2" style="font-weight: bold; font-size: 25px;">
                        Suppression du compte
            </div>
          <button type="button" class="close bg-danger text-white" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body text-center">
          <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
          <h4 class="py-2">La suppression de votre compte entrainera la perte de toutes vos données y compris vos achats ou commandes, vos préfrences,etc.) </h4>
          <p>Etes-vous sûr(e) de supprimer votre compte ? Ce processus est irreversible.</p> 
          <br><br>
          <p class="text-danger">Pouvez-vous nous laisser un avis sur les raisons de la suppression de votre compte ?</p>
          <textarea class="form-control" name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete account popup modal end-->
            <!-- delete-account modal -->
</div>
</div>
<div class="col-lg-8 profile-info bg-white ">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="panel">
                <div class="d-flex justify-content-center mt-0 panel-heading rounded-3 p-2" style="font-weight: bold; font-size: 30px;">
                        Détails de votre profil
                </div>
                <hr>
                <div class="bio-graph-heading">
                    Résumé de vos informations personnelles et de vos commandes ainsi que de vos adresse de livraison.
                </div>
                <div class="panel-body bio-graph-info">
                    <h3 class="d-flex justify-content-center text-muted">Informations personnelles</h3>
                    <div class="row" style="width: 100%;">
                        <div class="bio-row">
                            <p><span>Prénom </span>: Aliou</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Nom </span>: Badji</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Sexe </span>: Homme</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Adresse</span>: Thiaroye/Mer - Pikine</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Téléphone </span>: +221 77 985 29 75</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: abadji3992&commat;gmail.com</p>
                        </div>
                        <!-- <div class="bio-row">
                            <p><span>Mobile </span>: (12) 03 4567890</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Phone </span>: 88 (02) 123456</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h3 class="d-flex justify-content-center text-muted">Autres informations</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="red">Dernière commande</h4>
                                    <p>Numero commande : (Numéro commande)</p>
                                    <p>Date commande : (Date de la dernèrecommande)</p>
                                    <p>Nombre articles : (Nombre article))</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="terques"> Vos préférence </h4>
                                    <p>Préférence 1 : (Préférence 1) </p>
                                    <p>Préférence 2 : (Préfernce 2) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="75" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="green">Vos adresses de livraisons</h4>
                                    <p>Adresse 1 : (Adresse de livraison 1) </p>
                                    <p>Adresse 2 : (Adresse de livraison 2)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="purple"> Vos autres contactes </h4>
                                    <p>Contact 1 : (Numéro contact 1)</p>
                                    <p>Contact  : (Numero contact 2 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="card form-update" style="border: none;">
                <div class="card-header d-flex justify-content-center align-content-center border border-0 bg-white" style="font-size: 30px; font-weight: bold;">
                    Formulaire de mise à jour du profil
                </div>
                <hr>
                <div class="card-body p-md-5 text-black">
                    <form class="form-inscription">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1m">Votre prénom</label>
                        </div>
                        </div>
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1n">Votre nom</label>
                        </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1m1">Email</label>
                        </div>
                        </div>
                        <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="number" id="form3Example1n1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1n1">Téléphone</label>
                        </div>
                        </div>
                    </div>
                    
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example8" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example8">Adresse</label>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 mb-4">
    
                        <select class="select">
                            <option value="1">Région</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                        </select>
    
                        </div>
                        <div class="col-md-6 mb-4">
    
                        <select class="select">
                            <option value="1">Ville</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                        </select>
    
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-between pt-3 div-btn">
                        <button type="button" class="btn btn-outline-warning btn-lg">Annuler les modifications </button>
                        <button type="button" class="btn btn-dark btn-lg ms-2">Modifier mon profil</button>
                    </div>
                </form>
                    </div>
                </div>    
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="d-flex justify-content-center mb-2 py-2 rounded-2" style="width: 100%; height: 50px; font-size: 30px; font-weight: bold;">
                Historique de tous vos commandes
           </div>
            <hr>
           <div class="card card-command" *ngFor="let item of [].constructor(5); let i = index">
            <div class="card-header rounded-2 d-flex justify-content-between align-items-center">
                <h2 class="champ">ID commande : (Numéro commande {{i}}) </h2>
                <h2 class="champ">(Total) F CFA</h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="champ">Date commande </h5>
                    <h3 class="fw-normal mb-0">(Date commande)</h3>
                </div>
                <div class="d-flex justify-content-between">
                    <h5 class="champ">Nombre articles </h5>
                    <h3 class="fw-normal mb-0">(Nombre articles commande)</h3>
                </div>
                <div class="d-flex justify-content-between">
                    <h5 class="champ">Statut </h5>
                    <h3 class="fw-normal mb-0">(Statut de la commande)</h3>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="icon-btn btn-primary text-uppercase" data-bs-toggle="collapse" [attr.data-bs-target]="'#detailsProd'+i" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <mat-icon [ngStyle]="{ 'color': 'orange' }" >visibility</mat-icon>Détails
                    </a>
                </div>
                <div id="detailsProd{{i}}" class="collapse widget dashboard-container my-adslist">
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of [].constructor(5); let i = index">
                            <td class="product-thumb">
                            <img width="80px" height="auto" src="./assets/best-product-{{i}}.jpg" alt="image description"></td>
                            <td class="product-details">
                            <h3 class="title">Macbook Pro 15inch</h3>
                            <span class="add-id"><b>Ad ID:</b> ng3D5hAMHPajQrM</span>
                            <span><b>Posted on: </b><time>Jun 27, 2017</time> </span>
                            <span class="status active"><b>Status</b>Active</span>
                            <span class="location"><b>Location</b>Dhaka,Bangladesh</span>
                            </td>
                            <td class="product-category"><span class="categories">Laptops</span></td>
                            <td class="action" data-title="Action">
                            <div class="">
                                <ul class="list-inline justify-content-center">
                                <li class="list-inline-item">
                                    <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="category.html">
                                    <mat-icon>visibility</mat-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" href="dashboard.html">
                                    <mat-icon>edit</mat-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="delete" data-toggle="tooltip" data-placement="top" title="Delete" href="dashboard.html">
                                    <mat-icon>delete</mat-icon>
                                    </a>
                                </li>
                                </ul>
                            </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            
                    </div>
              </div>
        </div>
        <!-- pagination -->
        <div class="pagination justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="dashboard.html" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Précédent</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="dashboard.html">1</a></li>
                <li class="page-item active"><a class="page-link" href="dashboard.html">2</a></li>
                <li class="page-item"><a class="page-link" href="dashboard.html">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="dashboard.html" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Suivant</span>
                    </a>
                </li>
                </ul>
            </nav>
            </div> 
            <!-- pagination -->
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>

    </div>
    </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </section>
  <!-- <app-footer-user></app-footer-user> -->
  