<div class="container-fluid mt-4">
    <!-- Navigation des onglets -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'depenses'" (click)="setActiveTab('depenses')">Dépenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'recettes'" (click)="setActiveTab('recettes')">Recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'paiements'" (click)="setActiveTab('paiements')">Paiements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'categories'" (click)="setActiveTab('categories')">Gestion des catégories</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
        <!-- Onglet Dépenses -->
        <div *ngIf="activeTab === 'depenses'">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success mb-3" (click)="showForm = !showForm">
                    {{ showForm ? 'Masquer le formulaire' : 'Nouvelle dépense' }}
                </button>
            </div>

            <!-- Formulaire pour ajouter une dépense -->
            <div *ngIf="showForm">
            <!-- <h4>Ajouter une Dépense</h4> -->
            <div class="card">
              <div class="card-header d-flex justify-content-center">
                  <h4 class="card-title">Ajouter une dépense</h4>
              </div>
              <div class="card-body">
            <form [formGroup]="depenseForm" (ngSubmit)="ajouterDepense()">
                <div class="row">
                <!-- Champ Catégorie -->
                <div class="col-md-4">
                    <label>Catégorie</label>
                    <select class="form-control" formControlName="categoryId">
                    <ng-container *ngFor="let cat of categories">
                        <option *ngIf="cat.type === 'DEPENSE'" [value]="cat.id">
                        {{ cat.name }}
                        </option>
                    </ng-container>
                    </select>
                </div>

                <!-- Champ Montant -->
                <div class="col-md-4">
                    <label>Montant</label>
                    <input type="number" class="form-control" formControlName="amount" required />
                </div>

                <!-- Champ Mode de paiement -->
               <!-- Champ Mode de paiement -->
                <div class="col-md-4">
                    <label>Mode de paiement</label>
                    <select class="form-control" formControlName="paymentMode" required>
                    <option value="Espèce">Espèce</option>
                    <option value="Carte">Carte</option>
                    <option value="Mobile Money">Mobile Money</option>
                    <option value="Virement">Virement</option>
                    </select>
                </div>

                </div>

                <div class="row mt-3">

                <!-- Champ Type Dépense -->
                <div class="col-md-4">
                    <label>Type de dépense</label>
                    <select class="form-control" formControlName="type">
                    <option value="STANDARD">Standard</option>
                    <option value="STOCK">Approvisionnement en Stock</option>
                    </select>
                </div>

                <!-- Champ Joindre un fichier -->
                <div class="col-md-4">
                    <label>Joindre un fichier</label>
                    <input type="file" class="form-control" formControlName="receipt" />
                </div>

                <!-- Champ Description -->
                <div class="col-md-4">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" rows="3"></textarea>
                </div>


            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success w-25 me-4" type="submit" [disabled]="depenseForm.invalid">Enregistrer</button>
                <button class="btn btn-secondary w-25" type="reset" [disabled]="depenseForm.invalid">Annuler</button>
            </div>
        </form>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-center">
      <h4 class="mt-4">Historique des Dépenses</h4>
    </div>
    <!-- Barre de recherche et sélection du nombre de lignes -->
    <div class="d-flex justify-content-between mb-2">
      <input type="text" class="form-control w-50" placeholder="Rechercher par date, catégorie, montant et type de dépense...." [(ngModel)]="searchTerm" (input)="onSearchChange('depense')">
      <select class="form-select w-auto" (change)="setItemsPerPage($event)">
          <option [value]="5">5 lignes</option>
          <option [value]="10">10 lignes</option>
          <option [value]="20">20 lignes</option>
      </select>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Catégorie</th>
          <th>Montant</th>
          <th>Mode de Paiement</th>
          <th>Type de dépense</th> <!-- Nouvelle colonne pour le type de paiement -->
          <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dep of getPaginatedDepenses">
          <td>{{ dep.date | date: 'dd/MM/yyyy à HH:mm' }}</td>
          <td>{{ getCategoryName(dep.categoryId) }}</td>
          <td>{{ dep.amount }} F CFA</td>
          <td>{{ dep.paymentMode }}</td>
          <td>{{ dep.type }}</td> <!-- Affichage du type de paiement -->
          <td>
            <!-- Actions, visibles uniquement si le mode de paiement est différent de 'standard' -->
            <!-- <ng-container *ngIf="dep.type !== 'STANDARD'"> -->
              <button class="btn btn-warning btn-sm me-2" (click)="editDepense(dep)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm me-2" (click)="deleteDepense(dep)">
                <i class="bi bi-trash"></i>
              </button>
              <button  *ngIf="dep.type !== 'STANDARD'" class="btn btn-info btn-sm" (click)="viewDepenseDetails(dep)">
                <i class="bi bi-eye"></i>
              </button>
            <!-- </ng-container> -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-success" (click)="onPageChange(currentPageDepense-1,'depense')" [disabled]="currentPageDepense === 1">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <span class="h3">{{ currentPageDepense }} / {{ getTotalPages(filteredDepenses) }}</span>
      <button class="btn btn-success" (click)="onPageChange(currentPageDepense+1,'depense')"
        [disabled]="currentPageDepense >= getTotalPages(filteredDepenses)">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
 </div>


      <!-- Onglet Recettes -->
<div *ngIf="activeTab === 'recettes'">
    <!-- <h4>Liste des Recettes</h4> -->
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" (click)="toggleRecetteForm()">
            {{ formVisible ? 'Masquer le formulaire' : 'Nouvelle Recette' }}
        </button>
    </div>

    <!-- Formulaire d'ajout d'une recette -->
    <div *ngIf="formVisible" >
      <!-- <h4>Ajouter une Recette</h4> -->
      <div class="card">
        <div class="card-header d-flex justify-content-center">
            <h4 class="card-title">Ajouter une recette</h4>
        </div>
        <div class="card-body">
      <form [formGroup]="recetteForm" (ngSubmit)="ajouterRecette()" class="mt-3">
        <div class="row">
            <div class="col-md-4">
                <label>Catégorie</label>
                <select class="form-control" formControlName="categoryId">
                    <ng-container *ngFor="let cat of categories">
                        <option *ngIf="cat.type === 'RECETTE'" [value]="cat.id">{{ cat.name }}</option>
                    </ng-container>
                </select>
            </div>

            <div class="col-md-4">
                <label>Montant</label>
                <input type="number" class="form-control" formControlName="amount" required />
            </div>

            <div class="col-md-4">
                <label>Mode de paiement</label>
                <select class="form-control" formControlName="paymentMode" required>
                    <option value="Espèce">Espèce</option>
                    <option value="Carte">Carte</option>
                    <option value="Mobile Money">Mobile Money</option>
                    <option value="Virement">Virement</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label>Pièce justificative</label>
                <input type="file" class="form-control" formControlName="receipt" />
            </div>
            <div class="col-md-6">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-success w-25 me-4" type="submit" [disabled]="recetteForm.invalid">Enregistrer</button>
            <button class="btn btn-secondary w-25" type="button" (click)="cancelForm()">Annuler</button>
        </div>
    </form>
  </div>
</div>
</div>

    <!-- Tableau des Recettes -->
    <div class="d-flex justify-content-center">
      <h4 class="mt-4">Historique des recettes</h4>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <input type="text" class="form-control w-50" placeholder="Rechercher par date, catégorie et montant...." [(ngModel)]="searchTerm" (input)="onSearchChange('recette')">
      <select class="form-select w-auto" (change)="setItemsPerPage($event)">
          <option [value]="5">5 lignes</option>
          <option [value]="10">10 lignes</option>
          <option [value]="20">20 lignes</option>
      </select>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Catégorie</th>
          <th>Montant</th>
          <th>Mode de Paiement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recette of getPaginatedRecettes">
            <td>{{ recette.date | date: 'dd/MM/yyyy à HH:mm' }}</td>
          <td>{{ getCategoryName(recette.categoryId) }}</td>
          <td>{{ recette.amount}} F CFA</td>
          <td>{{ recette.paymentMode }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-3" (click)="editRecette(recette)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteRecette(recette)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-success" (click)="onPageChange(currentPageRecette-1,'recette')" [disabled]="currentPageRecette === 1">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <span class="h3">{{ currentPageRecette }} / {{ getTotalPages(filteredRecettes) }}</span>
      <button class="btn btn-success" (click)="onPageChange(currentPageRecette+1,'recette')"
        [disabled]="currentPageRecette >= getTotalPages(filteredRecettes)">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>

<!-- Onglet Paiements -->
<div *ngIf="activeTab === 'paiements'">
  <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success" (click)="togglePaiementForm()">
          {{ paiementFormVisible ? 'Masquer le formulaire' : 'Nouveau Paiement' }}
      </button>
  </div>

  <!-- Formulaire d'ajout de paiement -->
  <div *ngIf="paiementFormVisible">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
          <h4 class="card-title">Ajouter un paiement</h4>
      </div>
      <div class="card-body">
      <form [formGroup]="paiementForm" (ngSubmit)="ajouterPaiement()" class="mt-3">
        <!-- Sélection du type de paiement -->
          <div class="row mb-2">
            <div class="col-md-4">
                <label>Type de paiement</label>
                <select class="form-control" formControlName="typePaiement" (change)="onTypePaiementChange()">
                    <option value="">Sélectionner...</option>
                    <option value="client">Paiement Client</option>
                    <option value="fournisseur">Paiement Fournisseur</option>
                </select>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <label>Numéro de paiement</label>
                  <input type="text" class="form-control" formControlName="numero" required />
              </div>

              <div class="col-md-4">
                  <label>Montant du paiement</label>
                  <input type="number" class="form-control" formControlName="montant" required min="1" />
              </div>

              <div class="col-md-4">
                  <label>Mode de paiement</label>
                  <select class="form-control" formControlName="methodePaiement" required>
                      <option value="Espèce">Espèce</option>
                      <option value="Carte">Carte</option>
                      <option value="Mobile Money">Mobile Money</option>
                      <option value="Virement">Virement</option>
                  </select>
              </div>
          </div>

          <div class="row mt-3">
              <!-- Champ Client (affiché uniquement si "Paiement Client" est sélectionné) -->
              <div class="col-md-4" *ngIf="paiementForm.value.typePaiement === 'client'">
                    <label>Client</label>
                    <select class="form-control" formControlName="clientId">
                        <option value="">Aucun</option>
                        <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
                    </select>
              </div>

              <!-- Champ Fournisseur (affiché uniquement si "Paiement Fournisseur" est sélectionné) -->
              <div class="col-md-4" *ngIf="paiementForm.value.typePaiement === 'fournisseur'">
                    <label>Fournisseur</label>
                    <select class="form-control" formControlName="fournisseurId">
                        <option value="">Aucun</option>
                        <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.nom }}</option>
                    </select>
              </div>

              <div class="col-md-4">
                  <label>Bon de transaction</label>
                  <select class="form-control" formControlName="bonId">
                      <option value="">Aucun</option>
                      <option *ngFor="let bon of bons" [value]="bon.id">{{ bon.numero }}</option>
                  </select>
              </div>

              <div class="col-md-4">
                <label>Notes (optionnel)</label>
                <textarea class="form-control" formControlName="notes"></textarea>
            </div>
          </div>

          <div class="row mt-3">

          </div>

          <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-success w-25 me-4" type="submit" [disabled]="paiementForm.invalid">Enregistrer</button>
              <button class="btn btn-secondary w-25" type="button" (click)="cancelPaiementForm()">Annuler</button>
          </div>
      </form>
    </div>
  </div>
  </div>

  <!-- Tableau des Paiements -->
  <div class="d-flex justify-content-center">
    <h4 class="mt-4">Historique des paiements</h4>
  </div>

  <div class="d-flex justify-content-between mb-2">
    <input type="text" class="form-control w-50" placeholder="Rechercher par date, montant et type de paiement...." [(ngModel)]="searchTerm" (input)="onSearchChange('paiement')">
    <select class="form-select w-auto" (change)="setItemsPerPage($event)">
        <option [value]="5">5 lignes</option>
        <option [value]="10">10 lignes</option>
        <option [value]="20">20 lignes</option>
    </select>
  </div>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Date</th>
              <th>Type Paiement</th>
              <th>Fournisseur/Client</th>
              <th>Bon</th>
              <th>Mode de Paiement</th>
              <th>Montant</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let paiement of getPaginatedPaiements">
              <td>{{ paiement.date | date: 'dd/MM/yyyy à HH:mm' }}</td>
              <td>{{ paiement.typePaiement || 'N/A' }}</td>
              <td>{{ paiement.fournisseurId || 'N/A' }}</td>
              <td>{{ paiement.bonId || 'N/A' }}</td>
              <td>{{ paiement.methodePaiement }}</td>
              <td>{{ paiement.montant }} F CFA</td>
              <td>
                  <button class="btn btn-warning btn-sm me-2" (click)="editPaiement(paiement)">
                      <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deletePaiement(paiement)">
                      <i class="bi bi-trash"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-success" (click)="onPageChange(currentPagePaiement-1,'paiement')" [disabled]="currentPagePaiement === 1">
      <i class="bi bi-arrow-left-circle"></i>
    </button>
    <span class="h3">{{ currentPagePaiement }} / {{ getTotalPages(filteredPaiements) }}</span>
    <button class="btn btn-success" (click)="onPageChange(currentPagePaiement+1,'paiement')"
      [disabled]="currentPagePaiement >= getTotalPages(filteredPaiements)">
      <i class="bi bi-arrow-right-circle"></i>
    </button>
  </div>

</div>



      <!-- Onglet Gestion des catégories -->
      <div *ngIf="activeTab === 'categories'">

        <div class="row">
            <div [ngClass]="{ 'col-md-12': !newCategorie, 'col-md-9': newCategorie }">
                <div *ngIf="!newCategorie" class="d-flex justify-content-end">
                    <button class="btn btn-success btn-sm" (click)="showFormCategorie()"><i class="bi bi-plus-circle text-white me-2"></i>Nouvelle catégorie</button>
                </div>
                <div class="d-flex justify-content-center">
                  <h4 class="mt-4">Liste des catégories</h4>
                </div>
              <div class="d-flex justify-content-between mb-2">
                <input type="text" class="form-control w-50" placeholder="Rechercher par nom, type...." [(ngModel)]="searchTerm" (input)="onSearchChange('categorie')">
                <select class="form-select w-auto" (change)="setItemsPerPage($event)">
                    <option [value]="5">5 lignes</option>
                    <option [value]="10">10 lignes</option>
                    <option [value]="20">20 lignes</option>
                </select>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>État</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of getPaginatedCategories">
                    <td>{{ cat.name }}</td>
                    <td>{{ cat.type }}</td>
                    <td>
                        <!-- {{ cat.isActive ? 'Active' : 'Inactive' }} -->
                        <span class="badge bg-success h2" *ngIf="cat.isActive">Active</span>
                        <span class="badge bg-danger h2" *ngIf="!cat.isActive">Inactive</span>
                    </td>
                    <td>{{ cat.description }}</td>
                    <td class="">
                      <button class="btn btn-warning btn-sm me-2" (click)="editCategory(cat)"><i class="bi bi-pencil me-2"></i></button>
                      <button class="btn btn-danger btn-sm me-2" (click)="deleteCategory(cat)"><i class="bi bi-trash me-2"></i></button>
                      <button class="btn btn-info btn-sm me-2" (click)="toggleActiveStatus(cat)">
                        <i class="bi" [ngClass]="cat.isActive ? 'bi-x-circle-fill' : 'bi-check-circle-fill'"></i>
                        {{ cat.isActive ? 'Désactiver' : 'Activer' }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-success" (click)="onPageChange(currentPageCategorie-1,'categorie')" [disabled]="currentPageCategorie === 1">
                  <i class="bi bi-arrow-left-circle"></i>
                </button>
                <span class="h3">{{ currentPageCategorie }} / {{ getTotalPages(filteredCategories) }}</span>
                <button class="btn btn-success" (click)="onPageChange(currentPageCategorie+1,'categorie')"
                  [disabled]="currentPageCategorie >= getTotalPages(filteredCategories)">
                  <i class="bi bi-arrow-right-circle"></i>
                </button>
              </div>

            </div>

            <div *ngIf="newCategorie" class="col-md-3 bg-light">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger btn-sm" (click)="closeFormCategorie()"><i class="bi bi-x text-white me-2"></i></button>
                </div>
                <form [formGroup]="categoryForm" (ngSubmit)="onSubmitCategoryForm()">
                  <div class="mb-2">
                    <label for="name" class="form-label">Nom de la catégorie</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                  </div>
                  <div class="mb-2">
                    <label for="type" class="form-label">Type</label>
                    <select class="form-control" id="type" formControlName="type">
                      <option value="DEPENSE">Dépense</option>
                      <option value="RECETTE">Recette</option>
                    </select>
                  </div>
                  <div class="mb-2">
                      <label for="description" class="form-label">Description</label>
                      <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive">
                    <label class="form-check-label" for="isActive">Actif</label>
                  </div>
                  <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success w-50 me-2">{{ selectedCategory ? 'Modifier' : 'Enregistrer' }}</button>
                        <button type="reset" class="btn btn-danger w-50">Annuler</button>
                  </div>
                </form>
              </div>
          </div>

      </div>
    </div>
  </div>
